<div class="ui vertical fluid accordion menu">
  <div class="item">
    <a class="active title">
      <i class="dropdown icon"></i>
      Size
    </a>
    <div class="active content">
      <div class="ui form">
        <div class="grouped fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="small" name="size">
              <label>Small</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="medium" name="size">
              <label>Medium</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="large" name="size">
              <label>Large</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="x-large" name="size">
              <label>X-Large</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      Colors
    </a>
    <div class="content">
      <div class="ui form">
        <div class="grouped fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="color">
              <label>Red</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="color">
              <label>Orange</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="color">
              <label>Green</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="color">
              <label>Blue</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>