<div class="ui vertical accordion menu">
  <div class="item">
    <a class="active title">
      <i class="dropdown icon"></i>
      Menu Item
    </a>
    <div class="active content">
      <div class="ui form">
        <div class="grouped fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="small">
              <label>Choice 1</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="medium">
              <label>Choice 2</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="large">
              <label>Choice 3</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="x-large">
              <label>Choice 4</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      Menu Item
    </a>
    <div class="content">
      <div class="ui form">
        <div class="grouped fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="small">
              <label>Choice A</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="medium">
              <label>Choice B</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="large">
              <label>Choice C</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="x-large">
              <label>Choice D</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui accordion">
  <div class="active ui header title">
    <i class="dropdown icon"></i>
    FAQ Question 1?
  </div>
  <div class="active content">
    <img class="ui wireframe image" src="/images/wireframe/paragraph.png">
  </div>
  <div class="ui header title">
    <i class="dropdown icon"></i>
    FAQ Question 2?
  </div>
  <div class="content">
    <img class="ui wireframe image" src="/images/wireframe/paragraph.png">
  </div>
  <div class="ui header title">
    <i class="dropdown icon"></i>
    FAQ Question 3?
  </div>
  <div class="content">
    <img class="ui wireframe image" src="/images/wireframe/paragraph.png">
  </div>
</div>

<div class="ui divider"></div>

<div class="ui styled accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
    Title
  </div>
  <div class="active content">
    <img class="ui wireframe image" src="/images/wireframe/paragraph.png">
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Title
  </div>
  <div class="content">
    <img class="ui wireframe image" src="/images/wireframe/paragraph.png">
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Title
  </div>
  <div class="content">
    <img class="ui wireframe image" src="/images/wireframe/paragraph.png">
  </div>
</div>

<script type="text/javascript">
$(document)
  .ready(function(){
    $('.demo .example .ui.accordion')
      .accordion()
    ;
  })
;
</script>