<div class="ui card">
  <div class="image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div class="ui inverted button">Add Friend</div>
        </div>
      </div>
    </div>
    <img src="/images/avatar/large/steve.jpg">
  </div>
  <div class="content">
    <div class="header">Steve Jobes</div>
    <div class="meta">
      <a class="group">Acquaintances</a>
    </div>
    <div class="description">
      Steve Jobes is a fictional character designed to resemble someone familiar to readers.
    </div>
  </div>
  <div class="extra content">
    <a class="right floated created">
      Joined in 1998
    </a>
    <a class="friends">
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>