<div class="ui center aligned segment">
  <div class="ui button">A</div>
  <div class="ui horizontal divider">and</div>
  <div class="teal ui button">B</div>
</div>

<div class="ui two column stackable center aligned grid segment">
  <div class="column">
    <div class="ui button">A</div>
  </div>
  <div class="ui vertical divider">or</div>
  <div class="column">
    <div class="teal ui button">B</div>
  </div>
</div>

<div class="ui horizontal divider">
  <i class="heart icon"></i>
</div>

<h5 class="ui horizontal header divider">
  <i class="bar chart icon"></i>
  Specifications
</h5>

<div class="ui inverted segment">
  <p>A</p>
  <div class="ui inverted divider"></div>
  <p>B</p>
</div>