<div class="ui feed">
  <div class="event">
    <div class="label">
      <img src="/images/wireframe/square-image.png">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          Username
        </a> added you as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="/images/wireframe/square-image.png">
    </div>
    <div class="content">
      You added Username to the group <a>Group Name</a>
    </div>
  </div>
</div>