<div class="ui two column stackable grid">
  <div class="column">
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="/images/wireframe/square-image.png">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Username
            </a> added you as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/wireframe/square-image.png">
        </div>
        <div class="content">
          You added Username to the group <a>Group Name</a>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/wireframe/square-image.png">
        </div>
        <div class="content">
          <div class="date">
            Time period ago
          </div>
          <div class="summary">
            <a>Username</a> added <a>new photos</a>
          </div>
          <div class="extra images">
            <a><img src="/images/wireframe/image.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 1 Like
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <i class="pencil icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            You wrote something
            <div class="date">
              Time period ago
            </div>
          </div>
          <div class="extra text">
            Blockquote
          </div>
          <div class="meta">
            <a>Metadata</a>
            <a>Metadata</a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="photo icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            You uploaded a photo
            <div class="date">
              Time period ago
            </div>
          </div>
          <div class="meta">
            <a>Metadata</a>
            <a>Metadata</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Christian Rocha</a> signed up for the site.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>