<i class="andorra flag"></i>
<i class="uae flag"></i>
<i class="afghanistan flag"></i>
<i class="antigua flag"></i>
<i class="anguilla flag"></i>
<i class="albania flag"></i>
<i class="armenia flag"></i>
<i class="netherlands antilles flag"></i>
<i class="angola flag"></i>
<i class="argentina flag"></i>
<i class="american samoa flag"></i>
<i class="austria flag"></i>
<i class="australia flag"></i>
<i class="aruba flag"></i>
<i class="aland islands flag"></i>
<i class="azerbaijan flag"></i>
<i class="bosnia flag"></i>
<i class="barbados flag"></i>
<i class="bangladesh flag"></i>
<i class="belgium flag"></i>
<i class="burkina faso flag"></i>
<i class="bulgaria flag"></i>
<i class="bahrain flag"></i>
<i class="burundi flag"></i>
<i class="benin flag"></i>
<i class="bermuda flag"></i>
<i class="brunei flag"></i>
<i class="bolivia flag"></i>
<i class="brazil flag"></i>
<i class="bahamas flag"></i>
<i class="bhutan flag"></i>
<i class="bouvet island flag"></i>
<i class="botswana flag"></i>
<i class="belarus flag"></i>
<i class="belize flag"></i>
<i class="canada flag"></i>
<i class="cocos islands flag"></i>
<i class="congo flag"></i>
<i class="central african republic flag"></i>
<i class="congo brazzaville flag"></i>
<i class="switzerland flag"></i>
<i class="cote divoire flag"></i>
<i class="cook islands flag"></i>
<i class="chile flag"></i>
<i class="cameroon flag"></i>
<i class="china flag"></i>
<i class="colombia flag"></i>
<i class="costa rica flag"></i>
<i class="serbia flag"></i>
<i class="cuba flag"></i>
<i class="cape verde flag"></i>
<i class="christmas island flag"></i>
<i class="cyprus flag"></i>
<i class="czech republic flag"></i>
<i class="germany flag"></i>
<i class="djibouti flag"></i>
<i class="denmark flag"></i>
<i class="dominica flag"></i>
<i class="dominican republic flag"></i>
<i class="algeria flag"></i>
<i class="ecuador flag"></i>
<i class="estonia flag"></i>
<i class="egypt flag"></i>
<i class="western sahara flag"></i>
<i class="eritrea flag"></i>
<i class="spain flag"></i>
<i class="ethiopia flag"></i>
<i class="european union flag"></i>
<i class="finland flag"></i>
<i class="fiji flag"></i>
<i class="falkland islands flag"></i>
<i class="micronesia flag"></i>
<i class="faroe islands flag"></i>
<i class="france flag"></i>
<i class="gabon flag"></i>
<i class="united kingdom flag"></i>
<i class="grenada flag"></i>
<i class="georgia flag"></i>
<i class="french guiana flag"></i>
<i class="ghana flag"></i>
<i class="gibraltar flag"></i>
<i class="greenland flag"></i>
<i class="gambia flag"></i>
<i class="guinea flag"></i>
<i class="guadeloupe flag"></i>
<i class="equatorial guinea flag"></i>
<i class="greece flag"></i>
<i class="sandwich islands flag"></i>
<i class="guatemala flag"></i>
<i class="guam flag"></i>
<i class="guinea-bissau flag"></i>
<i class="guyana flag"></i>
<i class="hong kong flag"></i>
<i class="heard island flag"></i>
<i class="honduras flag"></i>
<i class="croatia flag"></i>
<i class="haiti flag"></i>
<i class="hungary flag"></i>
<i class="indonesia flag"></i>
<i class="ireland flag"></i>
<i class="israel flag"></i>
<i class="india flag"></i>
<i class="indian ocean territory flag"></i>
<i class="iraq flag"></i>
<i class="iran flag"></i>
<i class="iceland flag"></i>
<i class="italy flag"></i>
<i class="jamaica flag"></i>
<i class="jordan flag"></i>
<i class="japan flag"></i>
<i class="kenya flag"></i>
<i class="kyrgyzstan flag"></i>
<i class="cambodia flag"></i>
<i class="kiribati flag"></i>
<i class="comoros flag"></i>
<i class="saint kitts and nevis flag"></i>
<i class="north korea flag"></i>
<i class="south korea flag"></i>
<i class="kuwait flag"></i>
<i class="cayman islands flag"></i>
<i class="kazakhstan flag"></i>
<i class="laos flag"></i>
<i class="lebanon flag"></i>
<i class="saint lucia flag"></i>
<i class="liechtenstein flag"></i>
<i class="sri lanka flag"></i>
<i class="liberia flag"></i>
<i class="lesotho flag"></i>
<i class="lithuania flag"></i>
<i class="luxembourg flag"></i>
<i class="latvia flag"></i>
<i class="libya flag"></i>
<i class="morocco flag"></i>
<i class="monaco flag"></i>
<i class="moldova flag"></i>
<i class="montenegro flag"></i>
<i class="madagascar flag"></i>
<i class="marshall islands flag"></i>
<i class="macedonia flag"></i>
<i class="mali flag"></i>
<i class="burma flag"></i>
<i class="mongolia flag"></i>
<i class="macau flag"></i>
<i class="northern mariana islands flag"></i>
<i class="martinique flag"></i>
<i class="mauritania flag"></i>
<i class="montserrat flag"></i>
<i class="malta flag"></i>
<i class="mauritius flag"></i>
<i class="maldives flag"></i>
<i class="malawi flag"></i>
<i class="mexico flag"></i>
<i class="malaysia flag"></i>
<i class="mozambique flag"></i>
<i class="namibia flag"></i>
<i class="new caledonia flag"></i>
<i class="niger flag"></i>
<i class="norfolk island flag"></i>
<i class="nigeria flag"></i>
<i class="nicaragua flag"></i>
<i class="netherlands flag"></i>
<i class="norway flag"></i>
<i class="nepal flag"></i>
<i class="nauru flag"></i>
<i class="niue flag"></i>
<i class="new zealand flag"></i>
<i class="oman flag"></i>
<i class="panama flag"></i>
<i class="peru flag"></i>
<i class="french polynesia flag"></i>
<i class="new guinea flag"></i>
<i class="philippines flag"></i>
<i class="pakistan flag"></i>
<i class="poland flag"></i>
<i class="saint pierre flag"></i>
<i class="pitcairn islands flag"></i>
<i class="puerto rico flag"></i>
<i class="palestine flag"></i>
<i class="portugal flag"></i>
<i class="palau flag"></i>
<i class="paraguay flag"></i>
<i class="qatar flag"></i>
<i class="reunion flag"></i>
<i class="romania flag"></i>
<i class="serbia flag"></i>
<i class="russia flag"></i>
<i class="rwanda flag"></i>
<i class="saudi arabia flag"></i>
<i class="solomon islands flag"></i>
<i class="seychelles flag"></i>
<i class="sudan flag"></i>
<i class="sweden flag"></i>
<i class="singapore flag"></i>
<i class="saint helena flag"></i>
<i class="slovenia flag"></i>
<i class="jan mayen flag"></i>
<i class="slovakia flag"></i>
<i class="sierra leone flag"></i>
<i class="san marino flag"></i>
<i class="senegal flag"></i>
<i class="somalia flag"></i>
<i class="suriname flag"></i>
<i class="sao tome flag"></i>
<i class="el salvador flag"></i>
<i class="syria flag"></i>
<i class="swaziland flag"></i>
<i class="caicos islands flag"></i>
<i class="chad flag"></i>
<i class="french territories flag"></i>
<i class="togo flag"></i>
<i class="thailand flag"></i>
<i class="tajikistan flag"></i>
<i class="tokelau flag"></i>
<i class="timorleste flag"></i>
<i class="turkmenistan flag"></i>
<i class="tunisia flag"></i>
<i class="tonga flag"></i>
<i class="turkey flag"></i>
<i class="trinidad flag"></i>
<i class="tuvalu flag"></i>
<i class="taiwan flag"></i>
<i class="tanzania flag"></i>
<i class="ukraine flag"></i>
<i class="uganda flag"></i>
<i class="us minor islands flag"></i>
<i class="united states flag"></i>
<i class="uruguay flag"></i>
<i class="uzbekistan flag"></i>
<i class="vatican city flag"></i>
<i class="saint vincent flag"></i>
<i class="venezuela flag"></i>
<i class="british virgin islands flag"></i>
<i class="us virgin islands flag"></i>
<i class="vietnam flag"></i>
<i class="vanuatu flag"></i>
<i class="wallis and futuna flag"></i>
<i class="samoa flag"></i>
<i class="yemen flag"></i>
<i class="mayotte flag"></i>
<i class="south africa flag"></i>
<i class="zambia flag"></i>
<i class="zimbabwe flag"></i>