<div class="ui two column grid">

  <div class="column">
    <h1 class="ui header">H1</h1>
    <h2 class="ui header">H2</h2>
    <h3 class="ui header">H3</h3>
    <h4 class="ui header">H4</h4>
    <h5 class="ui header">H5</h5>

    <div class="ui icon header">
      <i class="settings icon"></i>
      <div class="content">
        Icon Header
        <div class="sub header">Sub-header</div>
      </div>
    </div>

    <div class="ui header">
      <i class="settings icon"></i>
      <div class="content">
        Header
        <div class="sub header">Sub-header</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui block header">
      <i class="settings icon"></i>
      <div class="content">
        Block
        <div class="sub header">Sub-header</div>
      </div>
    </div>

    <div class="ui dividing header">
      <i class="settings icon"></i>
      <div class="content">
        Dividing
        <div class="sub header">Sub-header</div>
      </div>
    </div>

    <div class="ui teal dividing header">
      <i class="settings icon"></i>
      <div class="content">
        Color
        <div class="sub header">Sub-header</div>
      </div>
    </div>

    <div class="ui top attached header">Attached</div>
    <div class="ui attached segment"></div>
    <div class="ui bottom attached header">Attached</div>
  </div>
</div>