<img class="ui avatar image" src="/images/wireframe/square-image.png"> User Avatar
<div class="ui ignored hidden divider"></div>
<div class="ui small images">
  <img class="ui image" src="/images/wireframe/image.png">
  <img class="ui image" src="/images/wireframe/image.png">
  <img class="ui image" src="/images/wireframe/image.png">
  <img class="ui image" src="/images/wireframe/image.png">
</div>
<div class="ui ignored hidden divider"></div>
<img class="ui small circular image" src="/images/wireframe/square-image.png">