<div class="ui action left icon input">
  <i class="search icon"></i>
  <input type="text" placeholder="Search...">
  <div class="ui teal button">Search</div>
</div>

<div class="ui hidden divider"></div>
<div class="ui corner labeled input">
  <input type="text" placeholder="Required Field">
  <div class="ui corner label">
    <i class="asterisk icon"></i>
  </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui labeled right icon input">
  <div class="ui label">
    http://
  </div>
  <input type="text" placeholder="domain.com">
  <i class="add circle link icon"></i>
</div>

<div class="ui hidden divider"></div>
<div class="ui labeled input">
  <a class="ui label">
    Label
  </a>
  <input type="text" placeholder="Placeholder...">
</div>
<div class="ui hidden divider"></div>
<div class="ui right labeled input">
  <input type="text" placeholder="Placeholder...">
  <a class="ui label">
    Label
  </a>
</div>