<div class="ui relaxed divided items">
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Content Header</a>
      <div class="meta">
        <a>Date</a>
        <a>Category</a>
      </div>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
      <div class="extra">
        <img src="/images/wireframe/square-image.png" class="ui circular avatar image"> Username
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Content Header</a>
      <div class="meta">
        <a>Date</a>
        <a>Category</a>
      </div>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Primary
          <i class="right chevron icon"></i>
        </div>
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Content Header</a>
      <div class="meta">
        <a>Date</a>
        <a>Category</a>
      </div>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Primary
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui divided items">
  <div class="link item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Content Header</a>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
    </div>
  </div>
  <div class="link item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Content Header</a>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
    </div>
  </div>
  <div class="link item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Content Header</a>
      <div class="description">
        A description which may flow for several lines and give context to the content.
      </div>
    </div>
  </div>
</div>