<div class="ui image label">
  <img src="/images/avatar/small/justen.jpg">
  email@address.com
  <i class="delete icon"></i>
</div>
<a class="ui teal image label">
  Some Name
  <span class="detail">Group</span>
</a>
<a class="ui label">
  <i class="mail icon"></i> Icon
</a>
<a class="ui tag label">Tag</a>
<div class="ui empty circular label"></div>
<div class="ui black empty circular label"></div>
<div class="ui teal empty circular label"></div>


<form class="ui fluid form">
  <div class="two fields">
    <div class="field">
      <input placeholder="First name" type="text">
      <div class="ui pointing label">
        Pointing Label
      </div>
    </div>
    <div class="field" placeholder="Last Name">
      <div class="ui pointing below label">
        Pointing below label
      </div>
      <input type="text">
    </div>
  </div>
</form>

<div class="ui hidden divider"></div>
<div class="ui two item menu">
  <a class="item">
    Item
  </a>
  <a class="item">
    Item
    <div class="floating ui teal label">141</div>
  </a>
</div>

<div class="ui hidden divider"></div>
<div class="ui left floated tiny image">
  <a class="ui left red corner label">
    <i class="heart icon"></i>
  </a>
  <img src="/images/wireframe/square-image.png">
</div>
<div class="ui left floated tiny image">
  <a class="ui left yellow corner label">
    <i class="star icon"></i>
  </a>
  <img src="/images/wireframe/square-image.png">
</div>
<div class="ui left floated tiny image">
  <a class="ui right corner label">
    <i class="close icon"></i>
  </a>
  <img src="/images/wireframe/square-image.png">
</div>

<div class="ui hidden clearing divider"></div>
<div style="min-height: 8rem;" class="ui segment">
  <div class="ui top attached label">Top Labeled</div>
  <div class="ui bottom attached label">Bottom Labeled</div>
</div>
<div style="min-height: 8rem;" class="ui segment">
  <div class="ui top left attached label">Top Left</div>
  <div class="ui top right attached label">Top Right</div>
  <div class="ui bottom left attached label">Bottom Left</div>
  <div class="ui bottom right attached label">Bottom Right</div>
</div>
<div class="ui segment" style="min-height: 8rem;">
  <a class="ui ribbon label">Ribbon</a>
</div>