<div class="ui image label">
  <img src="/images/avatar/small/justen.jpg">
  jkitsune@newrepublic.com
  <i class="delete icon"></i>
</div>
<a class="ui teal label">
  <i class="mail icon"></i> 23 New
</a>
<a class="ui tag label">Dresses</a>

<div class="ui hidden divider"></div>
<div class="ui two item fluid menu">
  <a class="item">
    <i class="icon mail"></i> Messages
    <div class="floating ui red label">22</div>
  </a>
  <a class="item">
    <i class="icon users"></i> Friends
    <div class="floating ui teal label">22</div>
  </a>
</div>

<div class="ui hidden divider"></div>
<div class="ui left floated tiny image">
  <a class="ui left red corner label">
    <i class="heart icon"></i>
  </a>
  <img src="/images/avatar/large/jenny.jpg">
</div>
<div class="ui left floated tiny image">
  <a class="ui left yellow corner label">
    <i class="star icon"></i>
  </a>
  <img src="/images/avatar/large/daniel.jpg">
</div>
<div class="ui left floated tiny image">
  <a class="ui right corner label">
    <i class="close icon"></i>
  </a>
  <img src="/images/avatar/large/christian.jpg">
</div>

<div class="ui hidden divider"></div>