<div class="ui four column stackable doubling grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui mini loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui small loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui large loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
</div>
<div class="ui four column stackable doubling grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui mini text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui small text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui large text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
</div>
<div class="ui four column stackable doubling grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui mini loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui small loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active dimmer">
        <div class="ui large loader"></div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
</div>
<div class="ui four column stackable doubling grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui mini text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui small text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui active inverted dimmer">
        <div class="ui large text loader">
          Loading
        </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
    </div>
  </div>
</div>

<div class="ui hidden clearing divider"></div>

<div class="ui segment">
  <div class="ui active inverted dimmer">
    <div class="ui indeterminate text active loader">
      Preparing...
    </div>
  </div>
  <br><br>
  <br><br>
  <br><br>
</div>

<div class="ui segment">
  <div class="ui active dimmer">
    <div class="ui indeterminate active loader"></div>
  </div>
  <br><br>
  <br><br>
  <br><br>
</div>
