<div class="ui vertical demo menu">
  <a class="active teal item">
    Inbox
    <div class="ui teal label">1</div>
  </a>
  <a class="item">
    Trash
    <div class="ui label">1</div>
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui secondary vertical demo menu">
  <a class="active item">
    Inbox
  </a>
  <a class="item">
    Starred
  </a>
  <a class="item">
    Trash
  </a>
</div>
<div class="ui secondary pointing vertical demo menu">
  <a class="active item">
    Inbox
  </a>
  <a class="item">
    Starred
  </a>
  <a class="item">
    Trash
  </a>
</div>

<script type="text/javascript">
$(document)
  .ready(function(){
    $('.demo.menu .item')
      .on('click', function() {
        if(!$(this).hasClass('dropdown')) {
          $(this)
            .addClass('active')
            .closest('.ui.menu')
            .find('.item')
              .not($(this))
              .removeClass('active')
          ;
        }
      })
    ;
  })
;
</script>