<div class="ui message">
  <i class="close icon"></i>
  This site uses cookies
</div>
<div class="ui warning icon message">
  <div class="content">
    <div class="header">Looking for help? </div>
    <ul class="list">
      <li>Use our <a href="#">help center</a></li>
      <li>Check our <a href"#">FAQ</a></li>
    </ul>
  </div>
</div>
<div class="ui info message">
  <div class="header">We're creating your profile page</div>
  <p>It will be ready in just a second.</p>
</div>

<div class="ui top attached message">
  Top attached
</div>
<div class="ui bottom attached message">
  Bottom attached
</div>
