
<div class="ui slide down instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/ade.jpg" class="ui small bordered image">
  </div>
</div>
<div class="ui slide up instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/chris.jpg" class="ui small bordered image">
  </div>
</div>
<div class="ui slide left instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/christian.jpg" class="ui small bordered image">
  </div>
</div>
<div class="ui slide right instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/daniel.jpg" class="ui small bordered image">
  </div>
</div>

<div class="ui move down masked instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/elliot.jpg" class="ui small bordered image">
  </div>
</div>
<div class="ui move up masked instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/helen.jpg" class="ui small bordered image">
  </div>
</div>
<div class="ui move left masked instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/jenny.jpg" class="ui small bordered image">
  </div>
</div>
<div class="ui move right masked instant reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/joe.jpg" class="ui small bordered image">
  </div>
</div>

<div class="ui rotate left reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered circular image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/justen.jpg" class="ui small bordered circular image">
  </div>
</div>
<div class="ui rotate reveal">
  <div class="visible content">
    <img src="/images/wireframe/white-image.png" class="ui small bordered circular image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/laura.jpg" class="ui small bordered circular image">
  </div>
</div>
