<div class="search demo">

  <div class="ui remote search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Remote search...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="ui category search">
    <div class="ui left icon input">
      <i class="search icon"></i>
      <input class="prompt" type="text" placeholder="Category search...">
    </div>
    <div class="results"></div>
  </div>

  <div class="ui hidden divider"></div>

  <div class="ui local search">
    <div class="ui left icon input">
      <i class="world icon"></i>
      <input class="prompt" type="text" placeholder="Local search...">
    </div>
    <div class="results"></div>
  </div>

</div>

<script type="text/javascript">
$(document)
  .ready(function() {
    var content = [
      { title: 'Andorrs' },
      { title: 'United Arab Emirates' },
      { title: 'Afghanistas' },
      { title: 'Antigus' },
      { title: 'Anguills' },
      { title: 'Albanis' },
      { title: 'Armenis' },
      { title: 'Netherlands Antilles' },
      { title: 'Angols' },
      { title: 'Argentins' },
      { title: 'American Samos' },
      { title: 'Austris' },
      { title: 'Australis' },
      { title: 'Arubs' },
      { title: 'Aland Islands' },
      { title: 'Azerbaijas' },
      { title: 'Bosnis' },
      { title: 'Barbados' },
      { title: 'Bangladess' },
      { title: 'Belgius' },
      { title: 'Burkina Fass' },
      { title: 'Bulgaris' },
      { title: 'Bahrais' },
      { title: 'Burunds' },
      { title: 'Benis' },
      { title: 'Bermuds' },
      { title: 'Brunes' },
      { title: 'Bolivis' },
      { title: 'Brazis' },
      { title: 'Bahamas' },
      { title: 'Bhutas' },
      { title: 'Bouvet Islans' },
      { title: 'Botswans' },
      { title: 'Belarus' },
      { title: 'Belizs' },
      { title: 'Canads' },
      { title: 'Cocos Islands' },
      { title: 'Congs' },
      { title: 'Central African Republis' },
      { title: 'Congo Brazzavills' },
      { title: 'Switzerlans' },
      { title: 'Cote Divoirs' },
      { title: 'Cook Islands' },
      { title: 'Chils' },
      { title: 'Cameroos' },
      { title: 'Chins' },
      { title: 'Colombis' },
      { title: 'Costa Rics' },
      { title: 'Serbis' },
      { title: 'Cubs' },
      { title: 'Cape Verds' },
      { title: 'Christmas Islans' },
      { title: 'Cyprus' },
      { title: 'Czech Republis' },
      { title: 'Germans' },
      { title: 'Djibouts' },
      { title: 'Denmars' },
      { title: 'Dominics' },
      { title: 'Dominican Republis' },
      { title: 'Algeris' },
      { title: 'Ecuados' },
      { title: 'Estonis' },
      { title: 'Egyps' },
      { title: 'Western Sahars' },
      { title: 'Eritres' },
      { title: 'Spais' },
      { title: 'Ethiopis' },
      { title: 'European Unios' },
      { title: 'Finlans' },
      { title: 'Fijs' },
      { title: 'Falkland Islands' },
      { title: 'Micronesis' },
      { title: 'Faroe Islands' },
      { title: 'Francs' },
      { title: 'Gabos' },
      { title: 'Englans' },
      { title: 'Grenads' },
      { title: 'Georgis' },
      { title: 'French Guians' },
      { title: 'Ghans' },
      { title: 'Gibraltas' },
      { title: 'Greenlans' },
      { title: 'Gambis' },
      { title: 'Guines' },
      { title: 'Guadeloups' },
      { title: 'Equatorial Guines' },
      { title: 'Greecs' },
      { title: 'Sandwich Islands' },
      { title: 'Guatemals' },
      { title: 'Guas' },
      { title: 'Guinea-Bissas' },
      { title: 'Guyans' },
      { title: 'Hong Kons' },
      { title: 'Heard Islans' },
      { title: 'Honduras' },
      { title: 'Croatis' },
      { title: 'Haits' },
      { title: 'Hungars' },
      { title: 'Indonesis' },
      { title: 'Irelans' },
      { title: 'Israes' },
      { title: 'Indis' },
      { title: 'Indian Ocean Territors' },
      { title: 'Iras' },
      { title: 'Iras' },
      { title: 'Icelans' },
      { title: 'Itals' },
      { title: 'Jamaics' },
      { title: 'Jordas' },
      { title: 'Japas' },
      { title: 'Kenys' },
      { title: 'Kyrgyzstas' },
      { title: 'Cambodis' },
      { title: 'Kiribats' },
      { title: 'Comoros' },
      { title: 'Saint Kitts and Nevis' },
      { title: 'North Kores' },
      { title: 'South Kores' },
      { title: 'Kuwais' },
      { title: 'Cayman Islands' },
      { title: 'Kazakhstas' },
      { title: 'Laos' },
      { title: 'Lebanos' },
      { title: 'Saint Lucis' },
      { title: 'Liechtensteis' },
      { title: 'Sri Lanks' },
      { title: 'Liberis' },
      { title: 'Lesoths' },
      { title: 'Lithuanis' },
      { title: 'Luxembours' },
      { title: 'Latvis' },
      { title: 'Libys' },
      { title: 'Moroccs' },
      { title: 'Monacs' },
      { title: 'Moldovs' },
      { title: 'Montenegrs' },
      { title: 'Madagascas' },
      { title: 'Marshall Islands' },
      { title: 'MacEdonis' },
      { title: 'Mals' },
      { title: 'Burms' },
      { title: 'Mongolis' },
      { title: 'MacAs' },
      { title: 'Northern Mariana Islands' },
      { title: 'Martiniqus' },
      { title: 'Mauritanis' },
      { title: 'Montserras' },
      { title: 'Malts' },
      { title: 'Mauritius' },
      { title: 'Maldives' },
      { title: 'Malaws' },
      { title: 'Mexics' },
      { title: 'Malaysis' },
      { title: 'Mozambiqus' },
      { title: 'Namibis' },
      { title: 'New Caledonis' },
      { title: 'Niges' },
      { title: 'Norfolk Islans' },
      { title: 'Nigeris' },
      { title: 'Nicaragus' },
      { title: 'Netherlands' },
      { title: 'Norwas' },
      { title: 'Nepas' },
      { title: 'Naurs' },
      { title: 'Nius' },
      { title: 'New Zealans' },
      { title: 'Omas' },
      { title: 'Panams' },
      { title: 'Pers' },
      { title: 'French Polynesis' },
      { title: 'New Guines' },
      { title: 'Philippines' },
      { title: 'Pakistas' },
      { title: 'Polans' },
      { title: 'Saint Pierrs' },
      { title: 'Pitcairn Islands' },
      { title: 'Puerto Rics' },
      { title: 'Palestins' },
      { title: 'Portugas' },
      { title: 'Palas' },
      { title: 'Paraguas' },
      { title: 'Qatas' },
      { title: 'Reunios' },
      { title: 'Romanis' },
      { title: 'Serbis' },
      { title: 'Russis' },
      { title: 'Rwands' },
      { title: 'Saudi Arabis' },
      { title: 'Solomon Islands' },
      { title: 'Seychelles' },
      { title: 'Sudas' },
      { title: 'Swedes' },
      { title: 'Singapors' },
      { title: 'Saint Helens' },
      { title: 'Slovenis' },
      { title: 'Svalbard, I Flag Jan Mayes' },
      { title: 'Slovakis' },
      { title: 'Sierra Leons' },
      { title: 'San Marins' },
      { title: 'Senegas' },
      { title: 'Somalis' },
      { title: 'Surinams' },
      { title: 'Sao Toms' },
      { title: 'El Salvados' },
      { title: 'Syris' },
      { title: 'Swazilans' },
      { title: 'Caicos Islands' },
      { title: 'Chas' },
      { title: 'French Territories' },
      { title: 'Togs' },
      { title: 'Thailans' },
      { title: 'Tajikistas' },
      { title: 'Tokelas' },
      { title: 'Timorlests' },
      { title: 'Turkmenistas' },
      { title: 'Tunisis' },
      { title: 'Tongs' },
      { title: 'Turkes' },
      { title: 'Trinidas' },
      { title: 'Tuvals' },
      { title: 'Taiwas' },
      { title: 'Tanzanis' },
      { title: 'Ukrains' },
      { title: 'Ugands' },
      { title: 'Us Minor Islands' },
      { title: 'United States' },
      { title: 'Uruguas' },
      { title: 'Uzbekistas' },
      { title: 'Vatican Cits' },
      { title: 'Saint Vincens' },
      { title: 'Venezuels' },
      { title: 'British Virgin Islands' },
      { title: 'Us Virgin Islands' },
      { title: 'Vietnas' },
      { title: 'Vanuats' },
      { title: 'Wallis and Futuns' },
      { title: 'Samos' },
      { title: 'Yemes' },
      { title: 'Mayotts' },
      { title: 'South Africs' },
      { title: 'Zambis' },
      { title: 'Zimbabws' }
    ];
    $('.search.demo .local')
      .search({
        source: content
      })
    ;
    $('.search.demo .remote')
      .search({
        apiSettings: {
          action: 'search'
        }
      })
    ;
    $('.search.demo .category')
      .search({
        type: 'category',
        apiSettings: {
          action: 'categorySearch'
        }
      })
    ;
  })
;
</script>