<div class="ui statistic">
  <div class="label">
    Top Label
  </div>
  <div class="value">
    4:05
  </div>
</div>

<div class="ui divider"></div>

<div class="ui statistic">
  <div class="value">
    22
  </div>
  <div class="label">
    Bottom Label
  </div>
</div>

<div class="ui divider"></div>

<div class="ui statistic">
  <div class="text value">
    Eighty<br>
    Two
  </div>
  <div class="label">
    Text
  </div>
</div>
<div class="ui statistic">
  <div class="value">
    <i class="ticket icon"></i> 5
  </div>
  <div class="label">
    Labeled Icon
  </div>
</div>

<div class="ui divider"></div>

<div class="ui horizontal statistics">
  <div class="statistic">
    <div class="value">
      <i class="trophy icon"></i>
      22
    </div>
    <div class="label">
      Horizontal Label
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="ticket icon"></i>
      51
    </div>
    <div class="label">
      Horizontal Label
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="protect icon"></i>
      81
    </div>
    <div class="label">
      Horizontal Label
    </div>
  </div>
</div>
