<div class="ui steps">
  <a class="step">
    <div class="content">
      <div class="title">Step</div>
      <div class="description">Description</div>
    </div>
  </a>
  <a class="active step">
    <div class="content">
      <div class="title">Step</div>
      <div class="description">Description</div>
    </div>
  </a>
</div>
<div class="ui hidden divider"></div>
<div class="ui ordered vertical steps">
  <a class="step">
    <div class="content">
      <div class="title">Previous Step</div>
      <div class="description">Description</div>
    </div>
  </a>
  <a class="active step">
    <div class="content">
      <div class="title">Active Step</div>
      <div class="description">Description</div>
    </div>
  </a>
  <a class="disabled step">
    <div class="content">
      <div class="title">Disabled Step</div>
      <div class="description">Description</div>
    </div>
  </a>
</div>

<div class="ui hidden divider"></div>

<div class="ui vertical steps">
  <a class="completed step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">Previous Step</div>
      <div class="description">Description</div>
    </div>
  </a>
  <a class="active step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Active Step</div>
      <div class="description">Description</div>
    </div>
  </a>
  <a class="disabled step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Disabled Step</div>
      <div class="description">Description</div>
    </div>
  </a>
</div>