<table class="ui celled striped table">
  <thead>
    <th colspan="3">
      Files
    </th>
  <tbody>
    <tr>
      <td class="disabled">
        <i class="folder icon"></i> folder
      </td>
      <td>Comment</td>
      <td class="right aligned collapsing">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> folder2
      </td>
      <td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> folder3
      </td>
      <td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="file outline icon"></i> package.json
      </td>
      <td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="file outline icon"></i> Gruntfile.js
      </td>
      <td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
  </tbody>
</table>

<table class="ui definition table">
  <thead>
    <th></th>
    <th>Header 1</th>
    <th>Header 2</th>
  </thead>
  <tbody>
    <tr>
      <td>Definition</td>
      <td>1A</td>
      <td>1B</td>
    </tr>
    <tr>
      <td>Definition</td>
      <td>2A</td>
      <td>2B</td>
    </tr>
  </tbody>
</table>

<table class="ui compact celled definition table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Registration Date</th>
      <th>E-mail address</th>
      <th>Premium Plan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Primary
        </div>
        <div class="ui small button">
          Button
        </div>
        <div class="ui small disabled button">
          Disabled
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>User 1</td>
      <td>Value</td>
      <td>Comment</td>
    </tr>
    <tr class="active">
      <td>User 1</td>
      <td>Selected</td>
      <td>Data</td>
    </tr>
    <tr class="disabled">
      <td>User 1</td>
      <td>Value</td>
      <td>Comment</td>
    </tr>
    <tr>
      <td class="active">User 2</td>
      <td>Value</td>
      <td>Data</td>
    </tr>
    <tr>
      <td>User 1</td>
      <td>Value</td>
      <td class="warning">
        <i class="attention icon"></i>
        Warning
      </td>
    </tr>
    <tr>
      <td>User 3</td>
      <td>Value</td>
      <td class="negative">Data</td>
    </tr>
    <tr>
      <td>User 1</td>
      <td>Value</td>
      <td class="positive">
        <i class="icon close"></i> Positive
      </td>
    </tr>
    <tr class="warning">
      <td>User 2</td>
      <td>
        <i class="attention icon"></i>
        Warning
      </td>
      <td>Data</td>
    </tr>
    <tr class="positive">
      <td>User 2</td>
      <td><i class="icon checkmark"></i> Positive</td>
      <td>Data</td>
    </tr>
    <tr class="negative">
      <td>User 2</td>
      <td>Value</td>
      <td>Data</td>
    </tr>
  </tbody>
</table>

<table class="ui inverted teal celled striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>User 1</td>
      <td>Data</td>
      <td>Data</td>
    </tr>
    <tr>
      <td>User 3</td>
      <td>Data</td>
      <td>Data</td>
    </tr>
    <tr>
      <td>User 2</td>
      <td>Denied</td>
      <td>Data</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Footer</th>
      <th>Footer</th>
      <th></th>
    </tr>
  </tfoot>
</table>