/*******************************
         Gallery Module
*******************************/

.gallery.module {
  position: relative;
}

/* Main Image */
.gallery.module .image {
  position: relative;
  display: block;
  background-color: #EFEFEF;
  border: 1px solid #F0F0F0;
}
.gallery.module .image img {
  cursor: pointer;
  position: relative;
  z-index: 11;

  display: block;
  width: 695px;
  height: auto;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;  
}
.gallery.module .image .throbber { 
  -moz-transition: opacity 0.3s ease 0s;
  opacity: 0;
  z-index: 10;
}
.gallery.module .image .flag {
  z-index: 4;
}

/* Thumbnails */
.gallery.module .thumbnails {
  margin: 10px -5px 0px;
}
.gallery.module .thumbnails li {
  float: left;
  cursor: pointer;
  margin: 0px 5px 5px 0px;
  background: #EFEFEF url(/images/icon-placeholder-tiny-logo.png) no-repeat center center;
  border: 1px solid #EFEFEF;
}
.gallery.module .thumbnails li img {
  display: block;
}

/* Nicer thumb spacing if supported */
.gallery.module .thumbnails li {
  margin: 0px 5px 7px;
}
/* prevent highlighting */
.gallery.module .image,
.gallery.module .thumbnail,
.gallery.module img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*******************************
      Navigation Arrows
*******************************/

.gallery.module .arrow {
  cursor: pointer;
  position: absolute;
  z-index: 12;
  top: 50%;
  opacity: 0.9;

  margin-top: -35px;
  background: url(/images/gallery-arrows.png) no-repeat;
  width: 42px;
  height: 70px;
}

.gallery.module .left.arrow {
  background-position: 0px 0px;
  left: 0px;
}
.gallery.module .right.arrow {
  background-position: 0px -100px;
  right: 0px;
}

/* hover */
.gallery.module .hover.arrow {
  opacity: 1;
}


/*******************************
            States
*******************************/

/* Thumbnail States */
.gallery.module .thumbnails li.hover {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.gallery.module .thumbnails li.active {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
/* Loading State */
.gallery.module.loading .throbber {
    opacity: 1;
    z-index: 4;
}
.gallery.module.loading .image img {
    opacity: 0.05;
    z-index: 2;
}
.gallery.module.loading .flag {
    z-index: 3;
}

/*******************************
            Resizes
*******************************/

/* Standard Size */
.gallery.module,
.gallery.module .image,
.gallery.module .image img {
  width: 695px;
}

.gallery.module .thumbnails li,
.gallery.module .thumbnails img {
  width: 90px;
  height: 60px;
}


/* Compact Size */
.gallery.module.compact,
.gallery.module.compact .image,
.gallery.module.compact .image img {
  width: 425px;
}

.gallery.module.compact .thumbnails li,
.gallery.module.compact .thumbnails img {
  width: 75px;
  height: 50px;
}

/* Fluid Size */
.gallery.module.fluid,
.gallery.module.fluid .image,
.gallery.module.fluid .image img {
  width: auto;
}

.gallery.module.fluid .thumbnails li,
.gallery.module.fluid .thumbnails img {
  width: auto;
  height: auto;
}



/*******************************
             Themes
*******************************/

/* Dark Skin */
.gallery.module.dark .image {
  border-color: #222222;
  background-color: #111111;
}
.gallery.module.dark .thumbnails li {
  border-color: #333333;
  background-color: #111111;
}
.gallery.module.dark .thumbnails li.hover {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
.gallery.module.dark .thumbnails li.active {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  border-color: #AAAAAA;
}

.gallery.module.loading .image img {
  opacity: 0.15;
}