/*******************************
          Modal Styles
*******************************/

.ui.modal {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
}

/*--------------
  Close Button
---------------*/
.ui.modal > .close {
  cursor: pointer;
  position: absolute;
  font-size: 1.25em;
  color: #FFFFFF;
  top: -1em;
  right: -1.2em;
  background: #01B5AA;
  -moz-border-radius: 20em;
  -webkit-border-radius: 20em;
  border-radius: 20em;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  opacity: 1;
}

/*--------------
     Header
---------------*/

.ui.modal > .header {
  background: white;
  padding: 1em 2em;
  -webkit-border-radius: 0.325em 0.325em 0px 0px;
  -moz-border-radius: 0.325em 0.325em 0px 0px;
  border-radius: 0.325em 0.325em 0px 0px;
  border-bottom: 1px solid #DCDDDE;
}
.ui.modal > .header h2 {
  margin: 0px;
  font-size: 1.5em;
  font-weight: normal;
  color: #231f20;
}


/*--------------
     Content
---------------*/

.ui.modal > .content {
  background: white;
}