.ui.segment {
  -webkit-box-shadow: 
    0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset
  ;
  -moz-box-shadow: 
    0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset
  ;
  box-shadow: 
    0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset
  ;
}