
/*******************************
              Step
*******************************/

.ui.steps .step,
.ui.step {
  background-color: transparent;
  opacity: 0.3;
  color: #5D6266;
}



/*******************************
             States
*******************************/

.ui.steps .step.active,
.ui.step.active {
  opacity: 1;
  color: #5BBD72;
}

