<div class="ui simple sidebar inverted vertical menu">
  <a class="item">
    1
  </a>
  <a class="item">
    2
  </a>
  <a class="item">
    3
  </a>
</div>

<div class="ui left demo vertical inverted labeled icon sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>

<div class="ui right demo sidebar vertical inverted menu">
  <a class="header item">File Permissions</a>
  <a class="item">Share on Social</a>
  <a class="item">Share by E-mail</a>
  <a class="item">Edit Permissions</a>
  <a class="item">Delete Permanently</a>
</div>

<div class="ui top demo sidebar ui segment">
  <div class="ui center aligned page grid">
    <div class="one column row">
      <div class="sixteen wide column">
        <h3 class="ui header">New Content Awaits</h3>
      </div>
    </div>
    <div class="three column divided row">
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
    </div>
  </div>
</div>

<div class="ui bottom demo inverted nine item labeled icon sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    History
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>
