<div class="menu">
  <div class="item" data-percent="100" data-value="en"    data-english="English">English</div>
  <div class="item" data-percent="21"  data-value="el"    data-english="Greek">ελληνικά</div>
  <div class="item" data-percent="20"  data-value="de"    data-english="German">Deutsch</div>
  <div class="item" data-percent="10"  data-value="fr"    data-english="French">Français</div>
  <div class="item" data-percent="10"  data-value="nl"    data-english="Dutch">Nederlands</div>
  <div class="item" data-percent="9"   data-value="hu"    data-english="Hungarian">Magyar</div>
  <div class="item" data-percent="7"   data-value="ar"    data-english="Arabic">العربية</div>
  <div class="item" data-percent="3"   data-value="pt_BR" data-english="Portuguese">Português</div>
  <div class="item" data-percent="15"  data-value="lt"    data-english="Lithuanian">Lietuvių</div>
  <div class="item" data-percent="3"   data-value="zh"    data-english="Chinese">简体中文</div>
  <div class="item" data-percent="0"   data-value="tr"    data-english="Turkish">Türkçe</div>
  <div class="item" data-percent="5"   data-value="vi"    data-english="Vietnamese">tiếng Việt</div>
  <div class="item" data-percent="3"   data-value="es"    data-english="Spanish">Español</div>
  <div class="item" data-percent="0"   data-value="ru"    data-english="Russian">Русский</div>
  <div class="item" data-percent="0"   data-value="ja"    data-english="Japanese">日本語</div>
  <div class="item" data-percent="0"   data-value="kr"    data-english="Korean">한국어</div>
  <div class="item" data-percent="0"   data-value="it"    data-english="Italian">Italiano</div>
  <div class="item" data-percent="0"   data-value="sv"    data-english="Swedish">svenska</div>
  <div class="item" data-percent="0"   data-value="fa"    data-english="Persian">پارسی</div>
</div>