.ui.button {
  background-color: #9DA6AB;
  color: #FFFFFF;

  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05));

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

  -webkit-box-shadow: 0 -3px 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 -3px 0px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.1) inset;
}

.ui.buttons .button.hover,
.ui.buttons .button:hover,
.ui.button.hover,
.ui.button:hover {
  background-color: #9DA6AB;
  color: #FFFFFF;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
}

.ui.buttons .button:active,
.ui.buttons .button.down,
.ui.button:active,
.ui.button.down {
  background-color: #9DA6AB;
  color: #FFFFFF;
  text-shadow:
    0px -1px 0px rgba(0, 0, 0, 0.25),
    0px 1px 0px rgba(255, 255, 255, 0.1)
  ;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.12));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.12));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.12));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.12));

  -webkit-box-shadow: 0 0 0 -1px rgba(0, 0, 0, 0.1) inset;
  -box-shadow: 0 0 0 -1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 -1px rgba(0, 0, 0, 0.1) inset;
}
.ui.buttons .button.active,
.ui.button.active {
  background-color: #D2D2D2;
  color: #FFFFFF;
}


/*******************************
           Variations
*******************************/

.ui.success.button,
.ui.error.button,
.ui.loading.button,
.ui.secondary.button,
.ui.tertiary.button {
  text-shadow: none !important;
}

/* Submit Button */
.ui.submit.button {
  background-color: #21B3A8;
  color: #FFFFFF;
}

/* CTA Button */
.ui.action.button {
  background-color: #E96633;
}

/* Facebook Button */
.ui.facebook.button {
  background-color: #3b579d;
  color: #FFFFFF;
}

/* Twitter Button */
.ui.twitter.button {
  background-color: #00aced;
  color: #FFFFFF;
}

/* Pinterest Button */
.ui.pinterest.button {
  background-color: #cb2027;
  color: #FFFFFF;
}
