.ui.segment {
  -webkit-box-shadow: 
    0px 0px 0px 1px #DCDDDE,
    0px -2px 0px 0px rgba(0, 0, 0, 0.04) inset
  ;
  -moz-box-shadow: 
    0px 0px 0px 1px #DCDDDE,
    0px -2px 0px 0px rgba(0, 0, 0, 0.04) inset
  ;
  box-shadow: 
    0px 0px 0px 1px #DCDDDE,
    0px -2px 0px 0px rgba(0, 0, 0, 0.04) inset
  ;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}