
/*******************************
              Step
*******************************/

.ui.steps {
  margin-top: 2rem;
  background-color: transparent;
  border: none;
  opacity: 1;
  color: #5BBD72;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui.steps .step {
  background-color: transparent;
  position: relative;
  padding: 0em 2.5em;
}
.ui.steps .step:after {
  display: none;
  border: none;
}

/* Arrow */
.ui.steps .step:before {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: -0.5em;
  margin-top: -0.5em;

  font-family: "Sketchy Icons";
  font-size: 1.8em;
  content: "\f104";
  color: #9DA6AB;
}
.ui.steps .step:first-child:before {
  display: none;
}
.ui.steps .step.completed:first-child,
.ui.steps .step.completed:first-child:after {
  margin-left: -1rem;
}

.ui.steps .step .icon {
  display: block;
  font-size: 3em;
  margin: 0em auto 0.2em;
}


/*******************************
             States
*******************************/

/* Complete */
.ui.steps .step.completed,
.ui.steps .step.completed:before {
  color: #5BBD72;
}
.ui.steps .step.completed:after {
  display: block;
  position: absolute;
  background-color: transparent;
  box-shadow: none;
  top: -1.5em;
  left: 50%;
  margin-left: -0.5em;

  font-family: "Sketchy Icons";
  content: "\f121";
}

/* Active */
.ui.steps .step:hover {
  background-color: transparent;
  opacity: 0.99;
}

/* Active */
.ui.steps .step.active,
.ui.step.active {
  background-color: transparent;
  opacity: 1;
  color: #5D6266;
}
.ui.steps .step.active:after,
.ui.step.active:after {
  display: none;
}

/* Disabled */
.ui.steps .disabled.step {
  background-color: transparent;
  color: #B2B2B2;
}
.ui.steps .disabled.step:before {
  opacity: 0.5;
}

