{
  "base": "",

  "paths": {
    "source": {
      "config"      : "src/theme.config",
      "definitions" : "src/definitions/",
      "site"        : "src/site/",
      "themes"      : "src/themes/"
    },
    "output": {
      "packaged": "../../../../public/assets/semantic/",
      "uncompressed": "../../../../public/assets/semantic/components/",
      "compressed": "../../../../public/assets/semantic/components/",
      "themes": "../../../../public/assets/semantic/themes/"
    },
    "clean": "../../../../public/assets/semantic/"
  },

  "permission" : false,
  "rtl": false

}
