{
  "base": "",

  "paths": {
    "source": {
      "config"      : "src/theme.config",
      "definitions" : "src/definitions/",
      "site"        : "src/site/",
      "themes"      : "src/themes/"
    },
    "output": {
      "packaged"     : "dist/",
      "uncompressed" : "dist/components/",
      "compressed"   : "dist/components/",
      "themes"       : "dist/themes/"
    },
    "clean"        : "dist/"
  },

  "components": [
    "accordion",
    "api",
    "breadcrumb",
    "button",
    "card",
    "checkbox",
    "comment",
    "dimmer",
    "divider",
    "dropdown",
    "feed",
    "flag",
    "form",
    "grid",
    "header",
    "icon",
    "image",
    "input",
    "item",
    "label",
    "list",
    "loader",
    "menu",
    "message",
    "modal",
    "nag",
    "popup",
    "progress",
    "rail",
    "rating",
    "reset",
    "reveal",
    "search",
    "segment",
    "shape",
    "sidebar",
    "site",
    "statistic",
    "step",
    "sticky",
    "tab",
    "table",
    "transition",
    "video"
  ]

}
