/*******************************
            Tags
*******************************/

.ui.tag {
  display: inline-block;
  vertical-align: middle;

  background-color: #7A7A7A;
  padding: 4px 10px;

  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;


  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ui.tag.disabled {
  opacity: 0.5;
}

a.ui.tag {
  position: relative;
}
a.ui.tag:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';
}
a.ui.tag:hover:after {
  background-color: rgba(255, 255, 255, 0.15);
}


/*******************************
           Variations
*******************************/

.ui.square.tag {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.ui.shaded.tag {
  -moz-box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset,
    0px 0px 0px 2px rgba(255, 255, 255, 0.2) inset
  ;
  -webkit-box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset,
    0px 0px 0px 2px rgba(255, 255, 255, 0.2) inset
  ;
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset,
    0px 0px 0px 2px rgba(255, 255, 255, 0.2) inset
  ;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}


/*******************************
             Types
*******************************/

.ui.green.tag {
  background-color: #3EBC47;
}
.ui.red.tag {
  background-color: #BC3eEE;
}
.ui.blue.tag {
  background-color: #009FDA;
}
.ui.purple.tag {
  background-color: #512598;
}
.ui.yellow.tag {
  background-color: #D8C62E;
}
.ui.pink.tag {
  background-color: #EC008C;
}


/*******************************
            Sizes
*******************************/
.ui.tag {
  font-size: 11px;
}
.ui.small.tag {
  font-size: 10px;
  padding: 3px 5px;
}
.ui.large.tag {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}