/*******************************
            Global
*******************************/

/*-------------------
        Sidebar
--------------------*/

#feed .sidebar {
  overflow: visible;
}

/*-------------------
        Grid
--------------------*/

#feed .pusher,
#feed .grid,
#feed .grid > .column {
  height: 100%;
}

/*-------------------
       Inbox
--------------------*/

#feed .pusher {
  background-color: #FFFFFF;
}

#feed .tab .item .description {
  margin-left: 2em;
}

#feed .current {
  float: right;
  margin: 0.5em 0em 0em 1em;
}

#feed .left.column {
  background-color: #F7F7F7;
  padding: 1em 2em;
  max-width: 600px;
}
#feed .left.column .menu {
  margin-top: 5rem;
}

#feed .right.column {
  padding: 1em 2em;
  background-color: #FFFFFF;
}

#feed .right.column {
  font-size: 16px;
  max-width: 800px;
}

/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 1000px) {
  #feed .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width : 1250px) {
  #feed .left.column > .menu .item {
    font-size: 1rem;
  }
}