
/* 
 * Font Custom: semantic css
 */

@font-face {
  font-family: 'Sketchy Icons';
  src: url("icons-sketchy.eot");
  src:
    url("icons-sketchy.eot?#iefix") format('embedded-opentype'),
    url("icons-sketchy.woff") format('woff'),
    url("icons-sketchy.ttf") format('truetype'),
    url("icons-sketchy.svg#icons") format('svg')
  ;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

i.sketchy.icon {
  font-family: 'Sketchy Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

i.sketchy.icon.add:before { content: "\f16c"; }
i.sketchy.icon.alert:before { content: "\f179"; }
i.sketchy.icon.all:before { content: "\f176"; }
i.sketchy.icon.arrow.eight:before { content: "\f170"; }
i.sketchy.icon.arrow.eighteen:before { content: "\f136"; }
i.sketchy.icon.arrow.eleven:before { content: "\f119"; }
i.sketchy.icon.arrow.fifteen:before { content: "\f158"; }
i.sketchy.icon.arrow.five:before { content: "\f11f"; }
i.sketchy.icon.arrow.four:before { content: "\f100"; }
i.sketchy.icon.arrow.fourteen:before { content: "\f151"; }
i.sketchy.icon.arrow.left:before { content: "\f10b"; }
i.sketchy.icon.arrow.nine:before { content: "\f13e"; }
i.sketchy.icon.arrow.one:before { content: "\f115"; }
i.sketchy.icon.arrow.right:before { content: "\f104"; }
i.sketchy.icon.arrow.seven:before { content: "\f157"; }
i.sketchy.icon.arrow.six:before { content: "\f14c"; }
i.sketchy.icon.arrow.sixteen:before { content: "\f169"; }
i.sketchy.icon.arrow.ten:before { content: "\f165"; }
i.sketchy.icon.arrow.thirteen:before { content: "\f166"; }
i.sketchy.icon.arrow.three:before { content: "\f131"; }
i.sketchy.icon.arrow.twelve:before { content: "\f177"; }
i.sketchy.icon.arrow.two:before { content: "\f14d"; }
i.sketchy.icon.browser:before { content: "\f15c"; }
i.sketchy.icon.bullet.one:before { content: "\f137"; }
i.sketchy.icon.bullet.three:before { content: "\f114"; }
i.sketchy.icon.bullet.two:before { content: "\f144"; }
i.sketchy.icon.calendar:before { content: "\f11e"; }
i.sketchy.icon.camera:before { content: "\f11a"; }
i.sketchy.icon.caret.down:before { content: "\f181"; }
i.sketchy.icon.caret.left:before { content: "\f125"; }
i.sketchy.icon.caret.right:before { content: "\f156"; }
i.sketchy.icon.caret.up:before { content: "\f133"; }
i.sketchy.icon.categories:before { content: "\f147"; }
i.sketchy.icon.category.apple:before { content: "\f106"; }
i.sketchy.icon.category.electronics:before { content: "\f17f"; }
i.sketchy.icon.category.health:before { content: "\f14f"; }
i.sketchy.icon.category.home:before { content: "\f12f"; }
i.sketchy.icon.category.kitchen:before { content: "\f174"; }
i.sketchy.icon.category.parenting:before { content: "\f146"; }
i.sketchy.icon.category.pets:before { content: "\f13d"; }
i.sketchy.icon.category.play:before { content: "\f120"; }
i.sketchy.icon.category.power:before { content: "\f167"; }
i.sketchy.icon.category.travel:before { content: "\f135"; }
i.sketchy.icon.category.wildcard:before { content: "\f171"; }
i.sketchy.icon.checkmark:before { content: "\f126"; }
i.sketchy.icon.checkmark.circle:before { content: "\f149"; }
i.sketchy.icon.clock:before { content: "\f155"; }
i.sketchy.icon.comment:before { content: "\f102"; }
i.sketchy.icon.compare:before { content: "\f112"; }
i.sketchy.icon.conversation:before { content: "\f10d"; }
i.sketchy.icon.dollar:before { content: "\f15f"; }
i.sketchy.icon.dont:before { content: "\f124"; }
i.sketchy.icon.eval:before { content: "\f116"; }
i.sketchy.icon.expert:before { content: "\f153"; }
i.sketchy.icon.eyeball:before { content: "\f17a"; }
i.sketchy.icon.facebook:before { content: "\f182"; }
i.sketchy.icon.facebook.filled:before { content: "\f159"; }
i.sketchy.icon.googleplus:before { content: "\f122"; }
i.sketchy.icon.googleplus.filled:before { content: "\f163"; }
i.sketchy.icon.home:before { content: "\f10a"; }
i.sketchy.icon.how.cash:before { content: "\f140"; }
i.sketchy.icon.how.influence:before { content: "\f132"; }
i.sketchy.icon.how.manufactures:before { content: "\f12e"; }
i.sketchy.icon.how.submit:before { content: "\f107"; }
i.sketchy.icon.how.votes:before { content: "\f172"; }
i.sketchy.icon.idea:before { content: "\f110"; }
i.sketchy.icon.improve:before { content: "\f103"; }
i.sketchy.icon.influence:before { content: "\f139"; }
i.sketchy.icon.information:before { content: "\f16a"; }
i.sketchy.icon.instagram:before { content: "\f129"; }
i.sketchy.icon.invent:before { content: "\f16f"; }
i.sketchy.icon.ip.communication:before { content: "\f134"; }
i.sketchy.icon.ip.electronics:before { content: "\f15d"; }
i.sketchy.icon.ip.engine:before { content: "\f12c"; }
i.sketchy.icon.ip.lighting:before { content: "\f11c"; }
i.sketchy.icon.ip.materials:before { content: "\f16e"; }
i.sketchy.icon.ip.power:before { content: "\f16d"; }
i.sketchy.icon.ip.printing:before { content: "\f13a"; }
i.sketchy.icon.ip.processes:before { content: "\f118"; }
i.sketchy.icon.ip.processing:before { content: "\f14a"; }
i.sketchy.icon.ip.vehicles:before { content: "\f17e"; }
i.sketchy.icon.launch:before { content: "\f148"; }
i.sketchy.icon.linkicon:before { content: "\f15e"; }
i.sketchy.icon.load:before { content: "\f121"; }
i.sketchy.icon.location:before { content: "\f160"; }
i.sketchy.icon.lock:before { content: "\f111"; }
i.sketchy.icon.logout:before { content: "\f109"; }
i.sketchy.icon.magnify:before { content: "\f173"; }
i.sketchy.icon.mail:before { content: "\f178"; }
i.sketchy.icon.name:before { content: "\f113"; }
i.sketchy.icon.newest:before { content: "\f123"; }
i.sketchy.icon.pencil:before { content: "\f142"; }
i.sketchy.icon.phase.design:before { content: "\f101"; }
i.sketchy.icon.phase.enhance:before { content: "\f10e"; }
i.sketchy.icon.phase.name:before { content: "\f154"; }
i.sketchy.icon.phase.research:before { content: "\f16b"; }
i.sketchy.icon.phase.style:before { content: "\f15b"; }
i.sketchy.icon.phase.tagline:before { content: "\f12d"; }
i.sketchy.icon.photos:before { content: "\f161"; }
i.sketchy.icon.piechart:before { content: "\f128"; }
i.sketchy.icon.pinterest:before { content: "\f141"; }
i.sketchy.icon.pinterest.filled:before { content: "\f11d"; }
i.sketchy.icon.play:before { content: "\f108"; }
i.sketchy.icon.portfolio:before { content: "\f11b"; }
i.sketchy.icon.price:before { content: "\f10f"; }
i.sketchy.icon.problem:before { content: "\f13b"; }
i.sketchy.icon.profile:before { content: "\f15a"; }
i.sketchy.icon.question:before { content: "\f10c"; }
i.sketchy.icon.question.circle:before { content: "\f138"; }
i.sketchy.icon.quirkylogo:before { content: "\f127"; }
i.sketchy.icon.quirkylogobg:before { content: "\f143"; }
i.sketchy.icon.rain.cloud:before { content: "\f145"; }
i.sketchy.icon.settings:before { content: "\f105"; }
i.sketchy.icon.share:before { content: "\f14e"; }
i.sketchy.icon.shop:before { content: "\f17b"; }
i.sketchy.icon.slash:before { content: "\f168"; }
i.sketchy.icon.threed:before { content: "\f17d"; }
i.sketchy.icon.timeline:before { content: "\f164"; }
i.sketchy.icon.trash:before { content: "\f180"; }
i.sketchy.icon.trophy:before { content: "\f152"; }
i.sketchy.icon.tumblr:before { content: "\f162"; }
i.sketchy.icon.tumblr.filled:before { content: "\f12a"; }
i.sketchy.icon.twitter:before { content: "\f12b"; }
i.sketchy.icon.twitter.filled:before { content: "\f150"; }
i.sketchy.icon.vine:before { content: "\f13f"; }
i.sketchy.icon.vine.filled:before { content: "\f130"; }
i.sketchy.icon.vote.down:before { content: "\f13c"; }
i.sketchy.icon.vote.up:before { content: "\f175"; }
i.sketchy.icon.x:before { content: "\f17c"; }
i.sketchy.icon.x.circle:before { content: "\f117"; }
i.sketchy.icon.youtube:before { content: "\f183"; }
i.sketchy.icon.youtube.filled:before { content: "\f14b"; }


/*------------------
    Glyph Sizing
-------------------*/

i.sketchy.circular.icon,
i.sketchy.square.icon {
  padding: 0.35em !important;
}
