 /*******************************
             Theme
 *******************************/

 @type    : 'module';
 @element : 'slider';

 @import (multiple) '../../theme.config';

.ui.slider:not(.vertical) {
  width: 100%;
  padding: @padding;
}

.ui.slider {
  position: relative;
}

.ui.slider:focus {
  outline: 0;
}

.ui.slider .inner {
  position: relative;
  z-index: 2;
}

.ui.slider:not(.vertical) .inner {
  height: @height;
}

.ui.slider .inner:hover {
  cursor: @hoverPointer;
}

.ui.slider .inner .track {
  position: absolute;
  border-radius: @trackBorderRadius;
  background-color: @trackColor;
}

.ui.slider:not(.vertical) .inner .track {
  width: 100%;
  height: @trackHeight;
  top: @trackPositionTop;
  left: 0;
}

.ui.slider .inner .track-fill {
  position: absolute;
  border-radius: @trackFillBorderRadius;
  background-color: @trackFillColor;
}

.ui.slider:not(.vertical) .inner .track-fill {
  height: @trackFillHeight;
  top: @trackPositionTop;
  left: 0;
}

.ui.slider .inner .thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: @thumbHeight;
  width: @thumbHeight;
  background: @thumbBackground;
  border-radius: @thumbBorderRadius;
  box-shadow: @thumbShadow;
  transition: @thumbTransition;
}

.ui.slider:not(.disabled) .inner .thumb:hover {
  pointer: @thumbHoverPointer;
  background: @thumbHoverBackground;
}

.ui.slider:not(.disabled):focus .inner .thumb {
  background: @thumbHoverBackground;
}


/*******************************
            States
*******************************/


/*--------------
     Disabled
---------------*/

.ui.disabled.slider {
  opacity: @disabledOpactiy;
}

.ui.disabled.slider .inner:hover {
  cursor: auto;
}

.ui.disabled.slider .inner .track-fill {
  background: @disabledTrackFillColor;
}

/*--------------
    Reversed
---------------*/

.ui.reversed.slider .inner .track-fill {
  left: auto;
  right: 0;
}

.ui.reversed.slider .inner .thumb {
  left: auto;
  right: 0;
}

.ui.labeled.reversed.slider > .labels .label {
  transform: translate(-100%, -100%);
}

/*******************************
           Variations
*******************************/

/*--------------
    Vertical
---------------*/

.ui.vertical.slider {
  height: 100%;
  padding: @verticalPadding;
}

.ui.vertical.slider .inner {
  width: @height;
  height: 100%;
}

.ui.vertical.slider .inner .track {
  height: 100%;
  width: @trackHeight;
  left: @trackPositionTop;
  top: 0;
}

.ui.vertical.slider .inner .track-fill {
  width: @trackFillHeight;
  left: @trackPositionTop;
  top: 0;
}

/* Vertical Reversed */
.ui.vertical.reversed.slider .inner .thumb {
  top: auto;
  bottom: 0;
}

.ui.vertical.reversed.slider .inner .track-fill {
  top: auto;
  bottom: 0;
}

/*--------------
    Labeled
---------------*/

.ui.labeled.slider > .labels {
  height: @labelHeight;
  width: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.ui.labeled.slider:not(.vertical) > .labels {
  transform: translateY(-50%);
}

.ui.labeled.slider > .labels .label {
  display: inline-flex;
  position: absolute;
  transform: translate(-50%, -100%);
}

.ui.labeled.slider > .labels .label:after {
  content: ' ';
  height: @labelHeight;
  width: @labelWidth;
  background: @labelColor;
  position: absolute;
  top: 100%;
  left: 50%;
}

/* Vertical Labels */

.ui.labeled.vertical.slider > .labels {
  width: @labelHeight;
  height: auto;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
}

.ui.labeled.vertical.slider > .labels .label {
  transform: translate(-100%, -50%); // translate(-100%, -@labelWidth);
}

.ui.labeled.vertical.slider > .labels .label:after {
  width: @labelHeight;
  height: @labelWidth;
  left: 100%;
  top: 50%;
}

/* Vertical Reversed Labels */
.ui.labeled.vertical.reversed.slider > .labels .label {
  transform: translate(-100%, 50%);
}

/*--------------
    Hover
---------------*/

.ui.hover.slider .inner .thumb {
  opacity: @hoverVarOpacity;
  transition: @hoverOpacityTransition;
}

.ui.hover.slider:not(.disabled):hover .inner .thumb, .ui.hover.slider:not(.disabled):focus .inner .thumb {
  opacity: @hoverVarHoverOpacity;
}



/*--------------
    Inverted
---------------*/

.ui.inverted.slider .inner .track-fill {
  background-color: @invertedTrackFillColor;
}

.ui.inverted.slider .inner .track {
  background-color: @transparentWhite;
}

/*--------------
     Colors
---------------*/

/* Red */
.ui.red.slider .inner .track-fill {
  background-color: @red;
}
.ui.red.inverted.slider .inner .track-fill {
  background-color: @lightRed;
}

/* Orange */
.ui.orange.slider .inner .track-fill {
  background-color: @orange;
}
.ui.orange.inverted.slider .inner .track-fill {
  background-color: @lightOrange;
}

/* Yellow */
.ui.yellow.slider .inner .track-fill {
  background-color: @yellow;
}
.ui.yellow.inverted.slider .inner .track-fill {
  background-color: @lightYellow;
}

/* Olive */
.ui.olive.slider .inner .track-fill {
  background-color: @olive;
}
.ui.olive.inverted.slider .inner .track-fill {
  background-color: @lightOlive;
}

/* Green */
.ui.green.slider .inner .track-fill {
  background-color: @green;
}
.ui.green.inverted.slider .inner .track-fill {
  background-color: @lightGreen;
}

/* Teal */
.ui.teal.slider .inner .track-fill {
  background-color: @teal;
}
.ui.teal.inverted.slider .inner .track-fill {
  background-color: @lightTeal;
}

/* Blue */
.ui.blue.slider .inner .track-fill {
  background-color: @blue;
}
.ui.blue.inverted.slider .inner .track-fill {
  background-color: @lightBlue;
}

/* Violet */
.ui.violet.slider .inner .track-fill {
  background-color: @violet;
}
.ui.violet.inverted.slider .inner .track-fill {
  background-color: @lightViolet;
}

/* Purple */
.ui.purple.slider .inner .track-fill {
  background-color: @purple;
}
.ui.purple.inverted.slider .inner .track-fill {
  background-color: @lightPurple;
}

/* Pink */
.ui.pink.slider .inner .track-fill {
  background-color: @pink;
}
.ui.pink.inverted.slider .inner .track-fill {
  background-color: @lightPink;
}

/* Brown */
.ui.brown.slider .inner .track-fill {
  background-color: @brown;
}
.ui.brown.inverted.slider .inner .track-fill {
  background-color: @lightBrown;
}

/* Grey */
.ui.grey.slider .inner .track-fill {
  background-color: @grey;
}
.ui.grey.inverted.slider .inner .track-fill {
  background-color: @lightGrey;
}

/* Black */
.ui.black.slider .inner .track-fill {
  background-color: @black;
}
.ui.black.inverted.slider .inner .track-fill {
  background-color: @lightBlack;
}

/*--------------
     Basic
---------------*/

/* Standard */
.ui.slider.basic .inner .thumb {
  background-color: @trackFillColor;
}
.ui.slider.basic .inner .thumb:hover, .ui.slider.basic:focus .inner .thumb {
  background-color: @trackFillColorFocus;
}

/* Red */
.ui.red.slider.basic .inner .thumb {
  background-color: @red;
}
.ui.red.slider.basic .inner .thumb:hover, .ui.red.slider.basic:focus .inner .thumb {
  background-color: @redHover;
}

/* Orange */
.ui.orange.slider.basic .inner .thumb {
  background-color: @orange;
}
.ui.orange.slider.basic .inner .thumb:hover, .ui.orange.slider.basic:focus .inner .thumb {
  background-color: @orangeHover;
}

/* Yellow */
.ui.yellow.slider.basic .inner .thumb {
  background-color: @yellow;
}
.ui.yellow.slider.basic .inner .thumb:hover, .ui.yellow.slider.basic:focus .inner .thumb {
  background-color: @yellowHover;
}

/* Olive */
.ui.olive.slider.basic .inner .thumb {
  background-color: @olive;
}
.ui.olive.slider.basic .inner .thumb:hover, .ui.olive.slider.basic:focus .inner .thumb {
  background-color: @oliveHover;
}

/* Green */
.ui.green.slider.basic .inner .thumb {
  background-color: @green;
}
.ui.green.slider.basic .inner .thumb:hover, .ui.green.slider.basic:focus .inner .thumb {
  background-color: @greenHover;
}

/* Teal */
.ui.teal.slider.basic .inner .thumb {
  background-color: @teal;
}
.ui.teal.slider.basic .inner .thumb:hover, .ui.teal.slider.basic:focus .inner .thumb {
  background-color: @tealHover;
}

/* Blue */
.ui.blue.slider.basic .inner .thumb {
  background-color: @blue;
}
.ui.blue.slider.basic .inner .thumb:hover, .ui.blue.slider.basic:focus .inner .thumb {
  background-color: @blueHover;
}

/* Violet */
.ui.violet.slider.basic .inner .thumb {
  background-color: @violet;
}
.ui.violet.slider.basic .inner .thumb:hover, .ui.violet.slider.basic:focus .inner .thumb {
  background-color: @violetHover;
}

/* Purple */
.ui.purple.slider.basic .inner .thumb {
  background-color: @purple;
}
.ui.purple.slider.basic .inner .thumb:hover, .ui.purple.slider.basic:focus .inner .thumb {
  background-color: @purpleHover;
}

/* Pink */
.ui.pink.slider.basic .inner .thumb {
  background-color: @pink;
}
.ui.pink.slider.basic .inner .thumb:hover, .ui.pink.slider.basic:focus .inner .thumb {
  background-color: @pinkHover;
}

/* Brown */
.ui.brown.slider.basic .inner .thumb {
  background-color: @brown;
}
.ui.brown.slider.basic .inner .thumb:hover, .ui.brown.slider.basic:focus .inner .thumb {
  background-color: @brownHover;
}

/* Grey */
.ui.grey.slider.basic .inner .thumb {
  background-color: @grey;
}
.ui.grey.slider.basic .inner .thumb:hover, .ui.grey.slider.basic:focus .inner .thumb {
  background-color: @greyHover;
}

/* Black */
.ui.black.slider.basic .inner .thumb {
  background-color: @black;
}
.ui.black.slider.basic .inner .thumb:hover, .ui.black.slider.basic:focus .inner .thumb {
  background-color: @blackHover;
}

/*--------------
  Basic Inverted
---------------*/

/* Standard */
.ui.inverted.slider.basic .inner .thumb {
  background-color: @invertedTrackFillColor;
}
.ui.inverted.slider.basic .inner .thumb:hover, .ui.inverted.slider.basic:focus .inner .thumb {
  background-color: @invertedTrackFillColorFocus;
}

/* Red */
.ui.red.inverted.slider.basic .inner .thumb {
  background-color: @lightRed;
}
.ui.red.inverted.slider.basic .inner .thumb:hover, .ui.red.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightRedHover;
}

/* Orange */
.ui.orange.inverted.slider.basic .inner .thumb {
  background-color: @lightOrange;
}
.ui.orange.inverted.slider.basic .inner .thumb:hover, .ui.orange.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightOrangeHover;
}

/* Yellow */
.ui.yellow.inverted.slider.basic .inner .thumb {
  background-color: @lightYellow;
}
.ui.yellow.inverted.slider.basic .inner .thumb:hover, .ui.yellow.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightYellowHover;
}

/* Olive */
.ui.olive.inverted.slider.basic .inner .thumb {
  background-color: @lightOlive;
}
.ui.olive.inverted.slider.basic .inner .thumb:hover, .ui.olive.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightOliveHover;
}

/* Green */
.ui.green.inverted.slider.basic .inner .thumb {
  background-color: @lightGreen;
}
.ui.green.inverted.slider.basic .inner .thumb:hover, .ui.green.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightGreenHover;
}

/* Teal */
.ui.teal.inverted.slider.basic .inner .thumb {
  background-color: @lightTeal;
}
.ui.teal.inverted.slider.basic .inner .thumb:hover, .ui.teal.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightTealHover;
}

/* Blue */
.ui.blue.inverted.slider.basic .inner .thumb {
  background-color: @lightBlue;
}
.ui.blue.inverted.slider.basic .inner .thumb:hover, .ui.blue.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightBlueHover;
}

/* Violet */
.ui.violet.inverted.slider.basic .inner .thumb {
  background-color: @lightViolet;
}
.ui.violet.inverted.slider.basic .inner .thumb:hover {
  background-color: @lightVioletHover;
}

/* Purple */
.ui.purple.inverted.slider.basic .inner .thumb {
  background-color: @lightPurple;
}
.ui.purple.inverted.slider.basic .inner .thumb:hover, .ui.purple.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightPurpleHover;
}

/* Pink */
.ui.pink.inverted.slider.basic .inner .thumb {
  background-color: @lightPink;
}
.ui.pink.inverted.slider.basic .inner .thumb:hover, .ui.pink.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightPinkHover;
}

/* Brown */
.ui.brown.inverted.slider.basic .inner .thumb {
  background-color: @lightBrown;
}
.ui.brown.inverted.slider.basic .inner .thumb:hover, .ui.brow.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightBrownHover;
}

/* Grey */
.ui.grey.inverted.slider.basic .inner .thumb {
  background-color: @lightGrey;
}
.ui.grey.inverted.slider.basic .inner .thumb:hover, .ui.grey.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightGreyHover;
}

/* Black */
.ui.black.inverted.slider.basic .inner .thumb {
  background-color: @lightBlack;
}
.ui.black.inverted.slider.basic .inner .thumb:hover, .ui.black.inverted.slider.basic:focus .inner .thumb {
  background-color: @lightBlackHover;
}

/*--------------
     Sizing
---------------*/

/* Small */
.ui.slider.small .inner .thumb {
  height: @smallHeight;
  width: @smallHeight;
}
.ui.slider.small:not(.vertical) .inner {
  height: @smallHeight;
}
.ui.slider.small:not(.vertical) .inner .track,
.ui.slider.small:not(.vertical) .inner .track-fill {
  height: @smallTrackHeight;
  top: @trackPositionTopSmall;
}
.ui.small.labeled.slider:not(.vertical) > .labels,
.ui.small.labeled.slider:not(.vertical) > .labels .label:after {
  height: @smallLabelHeight;
}

/* Small Vertical */
.ui.slider.small.vertical .inner {
  width: @smallHeight;
}
.ui.slider.small.vertical .inner .track,
.ui.slider.small.vertical .inner .track-fill {
  width: @smallTrackHeight;
  left: @trackPositionTopSmall;
}
.ui.small.labeled.vertical.slider> .labels,
.ui.small.labeled.vertical.slider> .labels .label:after {
  width: @smallLabelHeight;
}

/* Large */
.ui.slider.large .inner .thumb {
  height: @largeHeight;
  width: @largeHeight;
}
.ui.slider.large:not(.vertical) .inner {
  height: @largeHeight;
}
.ui.slider.large:not(.vertical) .inner .track,
.ui.slider.large:not(.vertical) .inner .track-fill {
  height: @largeTrackHeight;
  top: @trackPositionTopLarge;
}
.ui.large.labeled.slider:not(.vertical) > .labels,
.ui.large.labeled.slider:not(.vertical) > .labels .label:after {
  height: @largeLabelHeight;
}

/* Large Vertical */
.ui.slider.large.vertical .inner {
  width: @largeHeight;
}
.ui.slider.large.vertical .inner .track,
.ui.slider.large.vertical .inner .track-fill {
  width: @largeTrackHeight;
  left: @trackPositionTopLarge;
}
.ui.large.labeled.vertical.slider> .labels,
.ui.large.labeled.vertical.slider> .labels .label:after {
  width: @largeLabelHeight;
}

/* Big */
.ui.slider.big .inner .thumb {
  height: @bigHeight;
  width: @bigHeight;
}
.ui.slider.big:not(.vertical) .inner {
  height: @bigHeight;
}
.ui.slider.big:not(.vertical) .inner .track,
.ui.slider.big:not(.vertical) .inner .track-fill {
  height: @bigTrackHeight;
  top: @trackPositionTopBig;
}
.ui.big.labeled.slider:not(.vertical) > .labels,
.ui.big.labeled.slider:not(.vertical) > .labels .label:after {
  height: @bigLabelHeight;
}

/* Big Vertical */
.ui.slider.big.vertical .inner {
  width: @bigHeight;
}
.ui.slider.big.vertical .inner .track,
.ui.slider.big.vertical .inner .track-fill {
  width: @bigTrackHeight;
  left: @trackPositionTopBig;
}
.ui.big.labeled.vertical.slider> .labels,
.ui.big.labeled.vertical.slider> .labels .label:after {
  width: @bigLabelHeight;
}

.loadUIOverrides();
