/*******************************
             Grid
*******************************/

/* Classic 12 section grid */
.ui.elements {
  width: 100%;
  display: table;
}
.ui.elements > .element {
  display: table-cell;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  vertical-align: top;
}
.ui.elements > .element:first-child,
.ui.element:first-child {
  border-left: none;
  box-shadow: none;
}

.ui.elements .element:first-child {
  padding-left: 0% !important;
}
.ui.elements .element:last-child {
  padding-right: 0% !important;
}

/* Sizing Combinations */
.ui.elements .element,
.ui.elements .one.wide.element {
  width: 8.3333%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.ui.six.elements .element,
.ui.elements .two.wide.element {
  width: 16.66667%;
}
.ui.four.elements .element,
.ui.elements .three.wide.element {
  width: 25%;
}
.ui.three.elements .element,
.ui.elements .four.wide.element {
  width: 33.3333%;
}
.ui.elements .five.wide.element {
  width: 41.6666%;
}
.ui.two.elements .element,
.ui.elements .six.wide.element {
  width: 50%;
}
.ui.elements .seven.wide.element {
  width: 58.3333%;
}
.ui.elements .eight.wide.element {
  width: 66.6666%;
}
.ui.elements .nine.wide.element {
  width: 75%;
}
.ui.elements .ten.wide.element {
  width: 83.3333%;
}
.ui.elements .eleven.wide.element {
  width: 91.666%;
}
.ui.elements .twelve.wide.element {
  width: 100%;
}

/* Variations */


/* Fitted Elements */
.ui.fitted.elements .element,
.ui.elements .fitted.element {
  padding-left: 0%;
  padding-right: 0%;
}

/* Vertical Centered */
.ui.centered.elements .element,
.ui.centered.element {
  vertical-align: middle;
}
