/*******************************
            Label
*******************************/

.ui.label {
  cursor: default;
  display: inline-block;
  vertical-align: middle;

  background-color: #EEEEEE;
  color: #777777;

  padding: 0.33em 0.8em;

  font-weight: bold;
  text-transform: uppercase;


  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition:
    background 0.1s linear
  ;
  -moz-transition:
    background 0.1s linear
  ;
  -o-transition:
    background 0.1s linear
  ;
  -ms-transition:
    background 0.1s linear
  ;
  transition:
    background 0.1s linear
  ;
}
.ui.label.disabled {
  opacity: 0.5;
}

.ui.label .count {
  display: inline-block;
  margin-left: 0.5em;
  color: #AAAAAA;
}
.ui.label .icon.close {
  cursor: pointer;
  margin-left: 0.5em;
  opacity: 0.7;
  color: #333333;
}

/*******************************
             States
*******************************/

/* Hover */
a.ui.label:hover {
  cursor: pointer;
  background-color: #E0E0E0;
}
a.ui.label:hover .close {
  opacity: 1;
}
a.ui.tag.labels .label:hover:before {
  background-color: #262626;
}



/*******************************
           Variations
*******************************/

.ui.tag.labels .label,
.ui.tag.label {
  margin-left: 1em;
  position: relative;
  padding: 0.33em 1.3em;

  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
.ui.tag.labels .label:before {
    position: absolute;
    top: 0.33em;
    left: 0.3em;
    content: '';

    margin-left: -1em;
    background-color: #EEEEEE;
    background-image: none;

    width: 1.45em;
    height: 1.45em;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transition:
      background 0.1s linear
    ;
    -moz-transition:
      background 0.1s linear
    ;
    -o-transition:
      background 0.1s linear
    ;
    -ms-transition:
      background 0.1s linear
    ;
    transition:
      background 0.1s linear
    ;
}

.ui.tag.labels .label:after {    
  position: absolute;
  content: "";
  top: 50%;
  left: -0.25em;

  margin-top: -0.33em;
  background-color: #FFFFFF;
  width: 0.55em;
  height: 0.55em;

  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);

  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
}

/*******************************
             Types
*******************************/

.ui.black.labels .label,
.ui.black.label {
  background-color: #5F5F5F;
  color: #FFFFFF;
}
.ui.green.labels .label,
.ui.green.label {
  background-color: #3EBC47;
  color: #FFFFFF;
}
.ui.red.labels .label,
.ui.red.label {
  background-color: #BC3eEE;
  color: #FFFFFF;
}
.ui.blue.labels .label,
.ui.blue.label {
  background-color: #009FDA;
  color: #FFFFFF;
}
.ui.purple.labels .label,
.ui.purple.label {
  background-color: #512598;
  color: #FFFFFF;
}
.ui.yellow.labels .label,
.ui.yellow.label {
  background-color: #D8C62E;
  color: #FFFFFF;
}
.ui.pink.labels .label,
.ui.pink.label {
  background-color: #EC008C;
  color: #FFFFFF;
}


/*******************************
            Sizes
*******************************/

.ui.label {
  font-size: 13px;
}
.ui.small.labels .label,
.ui.small.label {
  font-size: 11px;
}
.ui.large.labels .label,
.ui.large.label {
  font-size: 15px;
}