/*******************************
          Page Segments
*******************************/

.ui.segment {
  background-color: #FFFFFF;

  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

  padding: 1em;

  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  
  min-height: 50px;
  overflow: hidden;
}

.ui.segment.attached {
  position: relative;
  top: -1px;
  bottom: -1px;
  
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;

  /* avoid rgba multiplying */
  -moz-box-shadow: 0px 0px 0px 1px #DDDDDD;
  -webkit-box-shadow: 0px 0px 0px 1px #DDDDDD;
  box-shadow: 0px 0px 0px 1px #DDDDDD;
}
.ui.top.attached.segment {
  top: 0px;
  bottom: -1px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.ui.segment.bottom.attached {
  top: -1px;
  bottom: 0px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

/* Common Views */
.ui.segment .list li {
  padding: 10px 25px;
}