/*******************************
            Tags
*******************************/

.ui.tag {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  background-color: #5F5F5F;
  padding: 0.33em 0.8em;

  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;


  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition:
    background 0.1s linear
  ;
  -moz-transition:
    background 0.1s linear
  ;
  -o-transition:
    background 0.1s linear
  ;
  -ms-transition:
    background 0.1s linear
  ;
  transition:
    background 0.1s linear
  ;
}
.ui.tag.disabled {
  opacity: 0.5;
}

.ui.tag .count {
  display: inline-block;
  margin-left: 0.5em;
  color: #AAAAAA;
}
.ui.tag .icon.close {
  margin-left: 0.5em;
  color: #FFFFFF;
  opacity: 0.9;
}

/*******************************
             States
*******************************/

/* Hover */
.ui.tag:hover {
  background-color: #262626;
}
.ui.skeuomorphic.tags .tag:hover:before {
  background-color: #262626;
}

.ui.tag:active {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2) inset;
}


/*******************************
           Variations
*******************************/

.ui.square.tags .tag,
.ui.square.tag {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.ui.skeuomorphic.tags .tag,
.ui.skeuomorphic.tag {
  margin-left: 1em;
  position: relative;
  margin-left: 1em;
  padding: 0.33em 1.3em;

  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
.ui.skeuomorphic.tags .tag:before {
    position: absolute;
    top: 0.28em;
    left: 0.3em;
    content: "";

    margin-left: -1em;
    background-color: #5F5F5F;
    background-image: none;

    width: 1.4em;
    height: 1.4em;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transition:
      background 0.1s linear
    ;
    -moz-transition:
      background 0.1s linear
    ;
    -o-transition:
      background 0.1s linear
    ;
    -ms-transition:
      background 0.1s linear
    ;
    transition:
      background 0.1s linear
    ;
}

.ui.skeuomorphic.tags .tag:after {    
  position: absolute;
  content: "";
  top: 50%;
  left: -0.25em;

  margin-top: -0.33em;
  background-color: #FFFFFF;
  width: 0.55em;
  height: 0.55em;

  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);

  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
}

/*******************************
             Types
*******************************/

.ui.green.tags .tag,
.ui.green.tag {
  background-color: #3EBC47;
}
.ui.red.tags .tag,
.ui.red.tag {
  background-color: #BC3eEE;
}
.ui.blue.tags .tag,
.ui.blue.tag {
  background-color: #009FDA;
}
.ui.purple.tags .tag,
.ui.purple.tag {
  background-color: #512598;
}
.ui.yellow.tags .tag,
.ui.yellow.tag {
  background-color: #D8C62E;
}
.ui.pink.tags .tag,
.ui.pink.tag {
  background-color: #EC008C;
}


/*******************************
            Sizes
*******************************/

.ui.tag {
  font-size: 13px;
}
.ui.small.tags .tag,
.ui.small.tag {
  font-size: 11px;
}
.ui.large.tags .tag,
.ui.large.tag {
  font-size: 15px;
}