---
layout : 'default'
css    : 'card'

title  : 'Card'
type   : 'UI View'
---
<div class="segment">
  <div class="container">
  <h1 class="ui dividing header">Card</h1>
  <p>An item view is a generic list of site content, and can be useful for displaying a wide variety of named image content.</p>
  </div>
</div>
<div class="main container">

  <div class="peek">
    <div class="ui vertical pointing secondary menu">
      <a class="active item">Standard</a>
    </div>
  </div>

  <h2 class="ui dividing header">Standard</h2>

  <div class="example">
    <h4 class="ui header">Idea Card</h4>
    <p>A card for displaying an idea</p>

    <div class="ui idea cards">
      <div class="card">
        <div class="idea">
          <div class="image">
            <img src="/images/demo/invention.jpg">
          </div>
          <div class="header">Dog Moods</div>
          <div class="description">
            Wouldn't it be nice if your dog could always be happy. Introducing a device which will help your dog maintain his mood in any situation.
          </div>
        </div>
        <div class="meta">
          <div class="countdown">
            <i class="icon sketchy clock"></i>
            12 days left
          </div>
          <div class="votes">
            <i class="sketchy checkmark circle icon"></i>
            58 votes to go
          </div>
        </div>
        <div class="ui bottom attached green progress">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="example">
    <h4 class="ui header">Idea Cards</h4>
    <p> A set of idea cards</p>
    <div class="ui idea cards">
      <div class="card">
        <div class="idea">
          <div class="image">
            <img src="/images/demo/invention.jpg">
          </div>
          <div class="header">Dog Moods</div>
          <div class="description">
            Wouldn't it be nice if your dog could always be happy. Introducing a device which will help your dog maintain his mood in any situation.
          </div>
        </div>
        <div class="meta">
          <div class="countdown">
            <i class="icon sketchy clock"></i>
            12 days left
          </div>
          <div class="votes">
            <i class="sketchy checkmark circle icon"></i>
            58 votes to go
          </div>
        </div>
        <div class="ui bottom attached green progress">
          <div class="bar"></div>
        </div>
      </div>
      <div class="card">
        <div class="idea">
          <div class="image">
            <img src="/images/demo/invention.jpg">
          </div>
          <div class="header">Dog Moods</div>
          <div class="description">
            Wouldn't it be nice if your dog could always be happy. Introducing a device which will help your dog maintain his mood in any situation.
          </div>
        </div>
        <div class="meta">
          <div class="countdown">
            <i class="icon sketchy clock"></i>
            12 days left
          </div>
          <div class="votes">
            <i class="sketchy checkmark circle icon"></i>
            58 votes to go
          </div>
        </div>
        <div class="ui bottom attached green progress">
          <div class="bar"></div>
        </div>
      </div>
      <div class="card">
        <div class="idea">
          <div class="image">
            <img src="/images/demo/invention.jpg">
          </div>
          <div class="header">Dog Moods</div>
          <div class="description">
            Wouldn't it be nice if your dog could always be happy. Introducing a device which will help your dog maintain his mood in any situation.
          </div>
        </div>
        <div class="meta">
          <div class="countdown">
            <i class="icon sketchy clock"></i>
            12 days left
          </div>
          <div class="votes">
            <i class="sketchy checkmark circle icon"></i>
            58 votes to go
          </div>
        </div>
        <div class="ui bottom attached green progress">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>

</div>