---
layout : 'default'
css    : 'progress'

title  : 'Comments'
type   : 'UI View'
---
<div class="segment">
  <div class="container">
  <h1>Comments</h1>
  <p>A comment view is used to display lists of user feedback to site content.</p>
  </div>
</div>
<div class="main container">

  <div class="peek">
    <div class="ui vertical pointing menu">
      <a class="active item">Standard</a>
      <a class="item">Content</a>
    </div>
  </div>
  <h2>Standard</h2>
  
  <div class="example">
    <h4>Comments:</h4>
    <p>All comment</p>
    <div class="ui comments">
      <div class="comment">
            
      </div>
    </div>
    
  </div>

  
</div>