---
layout : 'default'
css    : 'feed'

title  : 'Feed'
type   : 'UI View'
---
<div class="segment">
  <div class="container">
  <h1 class="ui dividing header">Feed</h1>
  <p>An item view is a generic list of site content, and can be useful for displaying a wide variety of named image content.</p>
  </div>
</div>
<div class="main container">

  <div class="peek">
    <div class="ui vertical pointing menu">
      <a class="active item">Standard</a>
      <a class="item">Content</a>
      <a class="item">Variations</a>
    </div>
  </div>

  <h2 class="ui dividing header">Standard</h2>

  <div class="example">
    <div class="ui red feed segment">
      <h3 class="ui header">Recent Activity</h3>
      <div class="event">
        <div class="label">
          <img src="/images/demo/avatar2.jpg">
        </div>
        <div class="content">
          <div class="date">
            Just moments ago
          </div>
          <div class="summary">
             <a>Sally Poodle</a> added you as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular idea"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            You submitted a new post to the page
          </div>
          <div class="extra text">
            I am a dog and I do not know how to make a post
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular photos"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            <a>Sally Poodle</a> added <a>2 new photos</a> of you
          </div>
          <div class="extra images">
            <img src="/images/demo/item1.jpg">
            <img src="/images/demo/item2.jpg">
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/demo/avatar.jpg">
        </div>
        <div class="content">
          <div class="date">
            Just moments ago
          </div>
          <div class="summary">
            <a>James Doggington</a> added you as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular idea"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            You submitted a new post to the page
          </div>
          <div class="extra text">
            I am a dog and I do not know how to make a post
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular photo"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            <a>Sally Poodle</a> added <a>a new photos</a> of you
          </div>
          <div class="extra images">
            <img src="/images/demo/item1.jpg">
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular add user"></i>
        </div>
        <div class="content">
          <div class="date">
            Just moments ago
          </div>
          <div class="summary">
            <a>Sally Poodle</a> added you as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular idea"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            You submitted a new post to the page
          </div>
          <div class="extra text">
            I am a dog and I do not know how to make a post
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular photos"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            <a>Sally Poodle</a> added <a>2 new photos</a> of you
          </div>
          <div class="extra images">
            <img src="/images/demo/item1.jpg">
            <img src="/images/demo/item2.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>


  <h2 class="ui dividing header">Variations</h2>


  <div class="example">
    <h4 class="ui header">Sizes</h4>
    <p>A feed can have different sizes</p>

    <div class="ui small blue feed segment" style="width: 540px;">
      <h4 class="ui header">Recent Activity</h4>
      <div class="event">
        <div class="label">
          <img src="/images/demo/avatar2.jpg">
        </div>
        <div class="content">
          <div class="date">
            Just moments ago
          </div>
          <div class="summary">
             <a>Sally Poodle</a> added you as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular idea"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            You submitted a new post to the page
          </div>
          <div class="extra text">
            I am a dog and I do not know how to make a post
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular photos"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            <a>Sally Poodle</a> added <a>2 new photos</a> of you
          </div>
          <div class="extra images">
            <img src="/images/demo/item1.jpg">
            <img src="/images/demo/item2.jpg">
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/demo/avatar.jpg">
        </div>
        <div class="content">
          <div class="date">
            Just moments ago
          </div>
          <div class="summary">
            <a>James Doggington</a> added you as a friend
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="icon circular idea"></i>
        </div>
        <div class="content">
          <div class="date">
            3 days ago
          </div>
          <div class="summary">
            You submitted a new post to the page
          </div>
          <div class="extra text">
            I am a dog and I do not know how to make a post
          </div>
        </div>
      </div>
    </div>


  </div>


</div>