#grid {
  background-color: #1B1C1D;
  padding: 0em 3em;
}

#grid h2 {
  margin: 2em 0em 1.5em;
}

/* Shaded */
#grid .shaded.examples .row {
  position: relative;
}
#grid .shaded.examples .grid > .column {
  position: relative;
  z-index: 11;
}
#grid .shaded.examples .grid .column:not(.row):after {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #DDD inset;
  content: "";
  display: block;
  min-height: 3em;
}


#grid .divided.examples .grid .column:not(.row):after {
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  display: block;
  min-height: 3em;
}

#grid .nested.examples .grid .grid {
  box-shadow: 0px 0px 0px 1px #AAA inset;
}
#grid .nested.examples .grid .grid .column:after {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #DDD inset;
  content: "";
  display: block;
  min-height: 3em;
}

#grid .simple.examples .grid .column:not(.row):not(.grid):after {
  content: "";
  display: block;
  min-height: 50px;
}



/* Animation */
#grid .examples {
  margin: 0 auto;
  -webkit-animation: grid 7s ease infinite;
  -moz-animation: grid 7s ease infinite;
  animation: grid 7s ease infinite;
}

@-webkit-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 85%;
  }
  55% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 85%;
  }
  55% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
@keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 85%;
  }
  55% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
