/*******************************
            Global
*******************************/

/*--------------
      Demo
---------------*/

#sink {
  background-color: #FFFFFF;
}

#sink .demo.container {
  width: 700px;
  margin: 0px auto;
}

#sink .demo.container .example {
  padding: 2em 0em;
  margin: 2em 0em;
  border-top: 1px solid #DDD;
}

#sink .demo h4 {
  font-size: 1.5em;
  margin: 2em 0em 1em;
}
#sink .demo.container .button.demo > .buttons,
#sink .demo.container .button.demo > .button,
#sink .demo.container .button.demo > .segment > .button {
  margin-bottom: 0.5em;
}
#sink .demo.container h4:first-child {
  font-weight: bold !important;
  margin: 0em 0em 1em !important;
}
#sink .demo.container .example:first-child {
  margin-top: 0;
  padding-top: 0;
}
#sink .demo.container .segment.example {
  z-index: 1;
}
#sink .demo.container .ui.label:not(.empty) {
  margin-bottom: 1em;
}
#sink .demo.container .segment .ui.label {
  margin-bottom: 0em;
}
