/*******************************
        Standard Example
*******************************/

@font-face {
  font-family: 'Icons';
  src: url(../fonts/icons.eot);
  src:
    url(../fonts/icons.eot?#iefix) format('embedded-opentype'),
    url(../fonts/icons.woff) format('woff'),
    url(../fonts/icons.ttf) format('truetype'),
    url(../fonts/icons.svg#icons) format('svg')
  ;
  font-weight: normal;
  font-style: normal;
}
/* font */
@font-face {
  font-family: 'Neutraface';
  src:
    url("../fonts/neutraface-book.otf") format('opentype')
  ;
  font-weight: normal;
  font-style: normal;
  font-size-adjust: 0.448;
}
@font-face {
  font-family: 'Neutraface';
  src:
    url("../fonts/neutraface-bold.otf") format('opentype')
  ;
  font-weight: bold;
  font-style: normal;
  font-size-adjust: 0.448;
}

body#example {
  font-family: "Neutraface", "Helvetica Neue", "Arial", sans-serif;
  background: #FCFCFC url(../images/bg.jpg) repeat;
  margin: 0px;
  padding: 0px 0px 150px;
}

/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}

#example .sidr {
  font-weight: bold;
}
#example .sidr ul li ul {
  font-weight: normal;
}
#example .sidr ul li ul li a {
  font-family: "Neutraface", "Helvetica Neue", "Arial", sans-serif;
  font-size: 15px;
  color: #666666;
}
#example .sidr .active {
  background-color: #555555;
}
#example .sidr .active > a {
  color: #FFFFFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* text and headers */
#example h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid #DDDDDD;
}
#example h1 {
  margin: 0px auto;
}
#example h1:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
#example h2 {
  margin: 35px 0px 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}
#example h3 {
  font-size: 20px;
  margin: 40px 0px 15px;
}
#example h4 {
  margin: 30px 0px 10px;
  font-size: 16px;
  font-weight: normal;
  color: #555555;
}
#example pre {
  background-color: #F0F0F0;
}
#example code {
  position: relative;
  background-color: #F0F0F0;
  border: 1px solid #DDDDDD;
  padding: 3px 5px;
}
#example pre code {
  border: none;
  padding: 0px;
}
#example table pre,
#example table code {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
#example p {
  margin: 10px 0px;
}
#example p > a {
  font-weight: bold;
}
#example .section.dropdown .menu {
  left: -46px;
  width: 215px;
}

/* segment headers */
#example > .segment {
  margin: 0px 0px 46px;
  padding: 65px 0px 20px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}
#example > .segment .text {
  width: 800px;
  margin: 0px auto;
}

/* lists */
#example ol {
  list-style-position: inside;
  margin: 10px 0px 40px;
  padding: 0px;
}
#example ol li {
  list-style-type: decimal;
  margin: 0px 0px 10px;
}
#example ol li a {
  font-weight: bold;
}
#example .features {
  list-style-position: inside;
  margin: 10px 0px 0px;
  padding: 0px;
}
#example .features li {
  list-style-type: disc;
  margin: 0px 0px 10px;
  font-weight: bold;
}


/* content */
#example .container {
  width: 800px;
  margin: 0px auto;
}
#example .shortcuts {
  float: right;
  clear: both;
}
#example .page {
  font-family: "Arial, Helvetica, sans-serif";
}
#example .page .of {
  font-family: 'Neutraface';
  font-size: 12px;
  color: #AAAAAA;
  padding: 0px 5px;
}
#example .page .menu,
#example .page .of {
  font-family: 'Neutraface';
}

#example .side.buttons {
  position: fixed;
  margin-top: 75px;
}

#example .main.container {
  position: relative;
}
#example .peek {
  position: absolute;
  top: -8px;
  left: -230px;
  width: 180px;
}
#example .peek .panel {
  width: 180px;
}
#example .sticky-wrapper.stuck {
  height: 0px !important;
}
#example .sticky-wrapper.stuck .peek {
  position: fixed;
  top: 75px;
  left: 50%;
  margin-left: -630px;
}

#example .settings.table td:first-child {
  font-weight: bold;
}
#example .settings.table td:nth-child(2n) {
  width: 300px;
}

#example div.code {
  position: relative;
  width: 100%;
  height: 200px;
}
#example div.code {
  font-size: 14px;
  margin: 5px 0px 20px;
  padding: 5px 0px;
  border: 1px solid #F0F0F0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.8);
}
#example div.code .ace_bracket {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#example div.code .ace_scroller {
  margin: 14px 10px;
}
#example div.code .ace_content {
}
#example div.code .ace_string {
  color: #e82d2d;
}
#example div.code .ace_cursor {
  border-left: 1px solid #AAAAAA;
}
#example div.code .ace_paren {
  color: #555555;
}
#example div.code .ace_keyword {
  color: #555555;
}
#example div.code .ace_identifier {
  color: #247992;
}
#example div.code .ace_scrollbar {
  overflow: hidden;
  background-color: #FFFFFF;
}
#example div.code .ace_punctuation {
  color: #555555;
}



@media only screen and (max-width : 1640px) {

  #example .container {
    width: 600px;
  }
  #example .sticky-wrapper.stuck .peek {
    margin-left: -530px;
  }
}

@media only screen and (max-width : 1420px) {

  #example .container {
    width: auto;
    margin: 0px 100px 0px 395px;
  }
  #example .sticky-wrapper.stuck .peek {
    margin-left: 0px;
    left: 165px;
  }

}
