/*******************************
        Standard Example
*******************************/

/* font */
@font-face {
  font-family: 'Neutraface';
  src:
    url("../fonts/neutraface-book.otf") format('opentype')
  ;
  font-weight: normal;
  font-style: normal;
  font-size-adjust: 0.448;
}
@font-face {
  font-family: 'Neutraface';
  src:
    url("../fonts/neutraface-bold.otf") format('opentype')
  ;
  font-weight: bold;
  font-style: normal;
  font-size-adjust: 0.448;
}

body#example {
  font-family: "Neutraface", "Helvetica Neue", "Arial", sans-serif;
  background: #FCFCFC url(images/bg.jpg) repeat;
  padding-bottom: 150px;
}

/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}

#example .sidr {
  font-weight: bold;
}
#example .sidr ul li ul {
  font-weight: normal;
}
#example .sidr ul li ul li a {
  font-family: "Neutraface", "Helvetica Neue", "Arial", sans-serif;
  font-size: 15px;
  color: #666666;
}
#example .sidr .active {
  background-color: #555555;
}
#example .sidr .active > a {
  color: #FFFFFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* text and headers */
#example h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid #DDDDDD;
}
#example h1 .text {
  width: 800px;
  margin: 0px auto;
}
#example h1:first-child {
  margin-top: 0px;
  padding-top: 20px;
}
#example h2 {
  margin: 40px 0px 20px;
}
#example h3 {
  font-size: 20px;
  margin: 40px 0px 15px;
}
#example h4 {
  font-size: 16px;
  font-weight: normal;
  color: #555555;
}
#example pre {
  background-color: #F0F0F0;
}
#example code {
  background-color: #F0F0F0;
  border: 1px solid #DDDDDD;
  padding: 3px 5px;
}
#example pre code {
  border: none;
  padding: 0px;
}
#example p {
  margin: 10px 0px;
}
#example p > a {
  font-weight: bold;
}

/* lists */
#example ol {
  list-style-position: inside;
  margin: 10px 0px 40px;
  padding: 0px;
}
#example ol li {
  list-style-type: decimal;
  margin: 0px 0px 10px;
}
#example .list {
  list-style-position: inside;
  margin: 10px 0px 40px;
  padding: 0px;
}
#example .list li {
  list-style-type: disc;
  margin: 0px 0px 10px;
  font-weight: bold;
}


/* content */
#example .full.container {
  position: relative;
  width: 800px;
}

#example .container {
  width: 700px;
  margin: 0px auto;
}
#example .shortcuts {
  float: right;
  clear: both;
}

#example .menu.buttons {
  position: fixed;
  margin-top: 20px;
  margin-left: -8px;
}