/*******************************
           Glue Code
*******************************/

::-webkit-selection {
  background-color: #FFFFCC;
  color: #555555;
}
::-moz-selection {
  background-color: #FFFFCC;
  color: #555555;
}
::selection {
  background-color: #FFFFCC;
  color: #555555;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  background-color: #F1C1C2;
  color: #222222;
}
h1::selection,
h2::selection,
h3::selection {
  background-color: #F1C1C2;
  color: #222222;
}
.ui *::-moz-selection {
  background-color: #CCE2FF;
}
.ui *::selection {
  background-color: #CCE2FF;
}


@font-face {
  font-family: 'Icons';
  src: url(../fonts/icons.eot);
  src:
    url(../fonts/icons.eot?#iefix) format('embedded-opentype'),
    url(../fonts/icons.woff) format('woff'),
    url(../fonts/icons.ttf) format('truetype'),
    url(../fonts/icons.svg#icons) format('svg')
  ;
  font-weight: normal;
  font-style: normal;
}

/* Non Web Font (For Demo)

@font-face {
  font-family: 'Neutraface';
  src:
    url("../fonts/neutraface-book.otf") format('opentype')
  ;
  font-weight: normal;
  font-style: normal;
  font-size-adjust: 0.448;
}
@font-face {
  font-family: 'Neutraface';
  src:
    url("../fonts/neutraface-bold.otf") format('opentype')
  ;
  font-weight: bold;
  font-style: normal;
  font-size-adjust: 0.448;
}
*/

@font-face {
  font-family: 'Neutraface';
  src:
    url('../fonts/neutraface-book.eot');
  src:
    url('../fonts/neutraface-book.eot?#iefix') format('embeddedopentype'),
    url('../fonts/neutraface-book.woff') format('woff')
  ;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Neutraface';
  src:
    url('../fonts/neutraface-bold.eot');
  src:
    url('../fonts/neutraface-bold.eot?#iefix') format('embeddedopentype'),
    url('../fonts/neutraface-bold.woff') format('woff')
  ;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
}

@font-face {
  font-family: 'Neutraface';
  src:
    url('../fonts/neutraface-italic.eot');
  src:
    url('../fonts/neutraface-italic.eot?#iefix') format('embeddedopentype'),
    url('../fonts/neutraface-italic.woff') format("woff")
  ;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
}




/*******************************
             Global
*******************************/

html,
body {
  font-size: 16px;
}

body#example {
  font-family: "Neutraface", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FCFCFC url(../images/bg.jpg) repeat;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}
body > .content  {
background: #FCFCFC url(../images/bg.jpg) repeat;
}

/*

h1,
h2,
h3,
h4,
h5,
h6,
.ui {
  font-family: "Neutraface", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size-adjust: 0.5;
}

p,
ul,
.ui.grid,
li {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size-adjust: none;
}

*/

ul.list {
  list-style-type: disc;
}
ul.list li {
  list-style-position: outside;
}


/* text and headers */
h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* h1 {
  margin: 0px auto;
  font-size: 38px;
}
h1:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
h2 {
  font-size: 28px;
  margin: 35px 0px 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}
h3 {
  font-size: 24px;
  margin: 40px 0px 15px;
}
h4 {
  margin: 30px 0px 3px;
  font-size: 18px;
  font-weight: bold;
  color: #555555;
} */
h4 + p {
  margin: 0px 0px 20px;
}
pre {
  background-color: #F0F0F0;
}
code {
  position: relative;
  background-color: #F0F0F0;
  border: 1px solid #DDDDDD;
  padding: 3px 5px;
}
pre code {
  border: none;
  padding: 0px;
}
table pre,
table code {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
p {
  margin: 1em 0em;
}
p:last-child {
  margin-bottom: 0em;
}
p > a {
  font-weight: bold;
}
/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}

#example #menu {
  display: none;
  width: 275px;

  border-radius: 0px;
  font-family: "Neutraface", "Helvetica Neue", "Arial", sans-serif;

  border-right: none;
}
#example #menu .item {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#example .sidr .ui.menu {
  margin: 0px 0px 30px;
}


/* segment headers */
#example > .content > .page > .segment,
#example > .segment {
  margin: 0px 0px 46px;
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}
#example .segment h1.dividing.header {
  margin-top: 35px;
}
#example .download.menu {
  margin-top: 15px;
  float: right;
}

#example .main.menu {
  min-width: 370px;
  z-index: 999;
}
#example .main.menu .count {
  font-family: "Hevletica Neue", Arial, sans-serif;
  font-size: 0.8em;
}

/* lists */
#example ol {
  list-style-position: inside;
  margin: 10px 0px 40px;
  padding: 0px;
}
#example ol li {
  list-style-type: decimal;
  margin: 0px 0px 10px;
}
#example ol li a {
  font-weight: bold;
}
#example .features {
  list-style-position: inside;
  margin: 10px 0px 0px;
  padding: 0px;
}
#example .features li {
  list-style-type: disc;
  margin: 0px 0px 10px;
  font-weight: bold;
}


/*--------------
    Playground 
---------------*/

#example.playground {
  min-width: 1000px;
}
#example.playground > .title.grid {
  padding-top: 60px;
  
}


/*--------------
    Masthead 
---------------*/
#example .error.masthead {
  position: absolute;
  margin-top: -290px;
  top: 50%;
  width: 100%;
}
#example .masthead {
  text-align: center;
  background-color: #00B5AD;
  padding: 75px 0px 50px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
}
#example .masthead .labeled.button {
  position: relative;
  left: 0px;
  top: 0px;
  width: auto !important;
  margin-right: 1em;
}
#example .masthead h1 {
  font-size: 5em;
  color: #FFFFFF;
  line-height: 1.2;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#example .masthead strike {
  color: rgba(0, 0, 0, 0.2);
}
#example .masthead h2 {
  font-weight: normal;
  margin: -10px 0 16px 0px;
  font-size: 1.75em;
  border-bottom: none;
  line-height: 1;
}
#example .masthead .menu {
  width: 375px;
}
#example .masthead p {
  font-size: 1.5em;
  margin: 1em 0em 1.5em;
  padding: 0px;
}


/*--------------
  Transparent
---------------*/

.ui.transparent.menu {
  opacity: 0.95;
}


/* content */
#example .container {
  width: 915px;
  margin: 0px auto;
}

#example .solid,
#example .stripe {
  padding: 50px 0px;
}

#example .solid {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
#example .solid .column {
  color: #555555;
}
#example .solid .column p b {
  color: rgba(0, 0, 0, 0.9);
}
#example .solid .column p {
  color: rgba(0, 0, 0, 0.5);
}

#example .stripe {
  color: #7E7E7E;
}
#example .stripe .message {
  margin: 0em;
  padding: 0em;
  background-color: transparent;
  color: #7E7E7E;
}


#example .shortcuts {
  float: right;
  clear: both;
}
#example .page {
  /* font-family: "Arial, Helvetica, sans-serif"; */
}
#example .page .of {
  font-family: 'Neutraface';
  font-size: 12px;
  color: #AAAAAA;
  padding: 0px 5px;
}
#example .page .menu,
#example .page .of {
  font-family: 'Neutraface';
}

#example .sidebar.button {
  position: fixed;
  top: 75px;
  z-index: 500;
  width: 70px;
}
#example .sidebar.button .text {
  display: inline-block;
  display: none;
}

#example .main.container {
  position: relative;
  padding-bottom: 100px;
}
#example .main.container > h2 {
  -webkit-transition: 0.5s color ease;
  -moz-transition: 0.5s color ease;
  -o-transition: 0.5s color ease;
  -ms-transition: 0.5s color ease;
  transition: 0.5s color ease;
}
#example .swap {
  background: url(http://beta.myfav.es/images/themes/bg/subtle/subtle-handmade-paper.png) repeat;
}
#example .peek {
  position: absolute;
  top: 0px;
  left: -230px;
  width: 180px;

}

#example .main.ui.grid {
  position: relative;
}

#example .icon.example {
  border-top: none;
}
#example .icon.example h3,
#example .icon.example h4 {
  margin: 0.5em 0em 2em;
}
#example .icon.example i.code {
  top: 30px;
}

#example .icon.example .grid {
  text-align: left;
}
#example .icon.example .grid .column {
  opacity: 0.8;
  margin-bottom: 4%;
  text-align: center;
  color: #888888;

  -webkit-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  -moz-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  -o-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  -ms-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
}
#example .icon.example .column .icon {
  opacity: 1;
  color: #333333;
  display: block;
  margin: 0em auto 0.25em;
  font-size: 2em;

  -webkit-transition: 
    all 0.2s ease-out
  ;
  -moz-transition: 
    all 0.2s ease-out
  ;
  -o-transition: 
    all 0.2s ease-out
  ;
  -ms-transition: 
    all 0.2s ease-out
  ;
  transition: 
    all 0.2s ease-out
  ;
}
#example .icon.example .grid .column:hover .icon {
  color: #009FDA;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
#example .another.icon.example {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#example .another.example {
  border-top: none;
}
#example .another.example i.code {
  top: 15px;
}
#example .example > p {
  color: #888888;
}

#example .peek .menu .active:nth-child(1) {
  box-shadow: 0.2em 0em 0em #00B9F0;
  color: #00B9F0;
}
#example .peek .menu .active:nth-child(2) {
  box-shadow: 0.2em 0em 0em #56BB73;
  color: #56BB73;
}
#example .peek .menu .active:nth-child(3) {
  box-shadow: 0.2em 0em 0em #EF3F49;
  color: #EF3F49;
}
#example .peek .menu .active:nth-child(4) {
  box-shadow: 0.2em 0em 0em #A24096;
  color: #A24096;
}
#example .main h2.group {
  color: #A24096;
}

#example .peek > .menu {
  margin-left: 0px;
  width: 180px;
  -webkit-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  -moz-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  -o-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  -ms-transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
  transition: 
    margin-left 0.3s ease-out,
    opacity 0.3s ease-out
  ;
}
/* #example .peek > .menu.animating > .active {
  background-color: transparent;
  border: none;
  padding-left: 0.95em;
}
#example .peek > .menu.animating > .active:after {
  background-color: #FFFFFF;
} */


#example .sticky-wrapper.stuck {
  height: 0px !important;
}
#example .sticky-wrapper.stuck .peek {
  position: fixed;
  top: 75px;
  left: 50%;
  margin-left: -685px;
}
#example .sticky-wrapper.stuck .peek.pushed > .menu {
  margin-left: 275px;
}

#example .settings.table {
  margin-bottom: 20px;
}
#example .settings.table td:first-child {
  font-weight: bold;
}
#example .settings.table td:nth-child(2n) {
  width: 100px;
}

/* example code reskin */
#example div.code.hide {
  display: none;
}
#example div.code {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: left;
}
#example div.code {
  font-size: 14px;
  margin: 5px 0px 20px;
  padding: 5px 0px;
  border: 1px solid #F0F0F0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.8);
}
#example div.code .ace_gutter {
  background-color: #FAFAFA;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #999999;
}
#example div.code .ace_gutter-cell {
  padding-right: 20px;
  padding-left: 10px;
}
#example div.code .ace_bracket {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#example div.code .ace_indent-guide {
  position: relative;
  background: none;
}
/* #example div.code .ace_indent-guide:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  border-left: 1px solid #ECF5F3;
} */


#example div.code .ace_gutter,
#example div.code .ace_scroller {
  margin: 14px 10px;
}
#example div.code .ace_scrollbar {
  overflow: hidden;
  background-color: #FFFFFF;
}

#example div.code .ace_line,
#example div.code .ace_line span {
  -webkit-transition: 
    color 1s ease-out
  ;
  -moz-transition: 
    color 1s ease-out
  ;
  -o-transition: 
    color 1s ease-out
  ;
  -ms-transition: 
    color 1s ease-out
  ;
  transition: 
    color 1s ease-out
  ;
}
#example div.code .ace_line {
  color: #555555;
}
#example div.code .ace_tag {
  color: #DCBCD3;
}
#example div.code .ace_attribute-name {
  color: #F4C5C5;
}
#example div.code .ace_content {
}
#example div.code .ace_string {
  color: #00A59D;
}
#example div.code .ace_cursor {
  border-left: 1px solid #AAAAAA;
}
#example div.code .ace_paren {
  color: #CCCCCC;
}
#example div.code .ace_keyword {
  color: #CCCCCC;
}
#example div.code .ace_identifier {
  color: #CCCCCC;
}
#example div.code .ace_punctuation {
  color: #CCCCCC;
}
#example div.code .ace_active_line {
  background-color: #FBFBE5;
}

/* Hovered Style */

#example div.code:hover .ace_line {
  color: #555555;
}
#example div.code:hover .ace_tag {
  color: #892A6F;
}
#example div.code:hover .ace_attribute-name {
  color: #934E4E;
}
#example div.code:hover .ace_content {
}
#example div.code:hover .ace_string {
  color: #00A59D;
}
#example div.code:hover .ace_cursor {
  border-left: 1px solid #AAAAAA;
}
#example div.code:hover .ace_paren {
  color: #555555;
}
#example div.code:hover .ace_keyword {
  color: #555555;
}
#example div.code:hover .ace_identifier {
  color: #555555;
}
#example div.code:hover .ace_scrollbar {
  overflow: hidden;
  background-color: #FFFFFF;
}
#example div.code:hover .ace_punctuation {
  color: #555555;
}
#example div.code:hover .ace_active_line {
  background-color: #FBFBE5;
}



/* examples */
#example .no.example i.code {
  display: none;
}

#example h2 + .example,
#example h3 + .example,
#example h4 + .example {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}
#example h2 + .example i.code,
#example h3 + .example i.code,
#example h4 + .example i.code {
  top: 0px;
}
#example .example > h4 {
  margin-bottom: 0em;
}
#example .example {
  margin: 1em 0em;
  padding: 1em 0em;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  clear: both;
  position: relative;
}
#example .example .grid i.code {
  right: 25%;
}
#example .example i.code {
  cursor: pointer;
  position: absolute;
  top: 2em;
  right: 0px;
  opacity: 0.2;

  font-size: 18px;
  color: #555555;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
#example .example:hover i.code {
  opacity: 0.7;
}
#example .example:hover i.code:hover {
  opacity: 1;
}

#example .highlighted.example {
  min-height: 390px;
}
#example .highlighted.example .grid,
#example .ui.type.items .image .grid {
  -webkit-animation: grid 15s ease infinite;
  -moz-animation: grid 15s ease infinite;
  background-color: #F6F6F6;
  margin: 0em auto;
}
#example .highlighted.example .grid .row,
#example .ui.type.items .image .grid .row {
  border-top: 1px solid #DDDDDD;
}
#example .highlighted.example .grid .column,
#example .ui.type.items .image .grid .column {
  background-color: #F4F4F4;
  min-height: 50px;
  -webkit-box-shadow: 0px 0px 0px 1px #E2E2E2;
  -moz-box-shadow: 0px 0px 0px 1px #E2E2E2;
  box-shadow: 0px 0px 0px 1px #E2E2E2;
}
#example .highlighted.example .grid .segment,
#example .ui.type.items .image .grid .segment {
  min-height: 50px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 0px 1px #DDDDDD;
  -moz-box-shadow: 0px 0px 0px 1px #DDDDDD;
  box-shadow: 0px 0px 0px 1px #DDDDDD;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

@-webkit-keyframes grid {
  0% {
    width: 100%;
  }
  40% {
    width: 70%;
  }
  60% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes grid {
  0% {
    width: 100%;
  }
  40% {
    width: 70%;
  }
  60% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
@keyframes grid {
  0% {
    width: 100%;
  }
  40% {
    width: 70%;
  }
  60% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}


#example .ui.type.items > .item {
  min-height: 255px;
}

#example .ui.type.items > .item > .image {
  padding: 1em;
  height: 165px;
  vertical-align: middle;
}

/* some demo formatting */
.ui.menu p:only-child {
  margin: 0px;
}
.ui.menu a {
  cursor: pointer;
}


.ui.progress .bar {
  -webkit-animation: finish 10s ease-in-out infinite;
  -moz-animation: finish 10s ease-in-out infinite;
}

@-webkit-keyframes finish {
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes finish {
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes finish {
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

#example.feed .example .segment {
  max-width: 800px;
}

#example .fixed .sidebar {
  display: none;
}


#example.index .grid .column {
  padding-left: 3%;
  padding-right: 3%;
}

@media only screen and (max-width : 1725px) {
  #example .container {
    width: auto;
    margin-right: 100px;
    margin-left: 325px;
  }
  #example.index .container {
    margin-left: 8em;
    margin-right: 8em;
  }
  #example .sticky-wrapper.stuck .peek {
    margin-left: 0px;
    left: 95px;
  }
}

@media only screen and (max-width : 600px) {
  #example .fixed .right.menu {
    display: inline-block;
    float: none;
  }
  #example .fixed .developer,
  #example .fixed .designer,
  #example .fixed .previous,
  #example .fixed .next {
    display: none;
  }
}
@media only screen and (max-width : 1050px) {
  #example .fixed .section,
  #example .fixed .title b {
    display: none;
  }
  #example .fixed .container {
    width: auto;
    margin: 0px auto;
  }
  #example .fixed .sidebar {
    display: inline-block;
  }
  #example .sticky-wrapper {
    display: none;
  }
  #example .container {
    width: auto;
    margin: 0% 30px 0px;
  }
  #example .right.attached.sidebar {
    display: none;
  }
}

@media only screen and (min-width : 1725px) {
  #example .container {
    width: 1100px;
  }
  #example .sticky-wrapper.stuck .peek {
    margin-left: -780px;
  }
}


@media only screen and (min-width : 2300px) {
  #example .container {
    width: 1320px;
  }
  #example .sticky-wrapper.stuck .peek {
    margin-left: -890px;
  }
}


@media only screen and (max-width : 780px) {
  #example.index .masthead {
    text-align: center;
    padding: 50px 0px 15px;
  }
  #example.index .masthead h1 {
    font-size: 3em;
  }
  #example.index .masthead h1 .icon {
    display: none;
  }
  #example.index .masthead .button {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  #example.index .masthead h2 {
    font-size: 1.25em;
    margin: 0em 0em 1em;
  }
  #example.index .masthead p {
    font-size: 1.35em;
  }
  #example.index .container {
    margin-left: 2em;
    margin-right: 2em;
  }
  #example.index .icon.header .icon {
    font-size: 3em;
  }

}