.ui.block {
  min-height: 18px;
  margin: 15px 0px;

  background-color: rgba(0, 0, 0, 0.04);

  font-size: 16px;

  line-height: 1.33;
  height: auto;
  padding: 1em;
  color: #333333;
  
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;

  -webkit-box-shadow:
    0px 0px 0px 1px rgba(255, 255, 255, 0.55) inset
  ;
  -moz-box-shadow:
    0px 0px 0px 1px rgba(255, 255, 255, 0.55) inset
  ;
  box-shadow:
    0px 0px 0px 1px rgba(255, 255, 255, 0.55) inset
  ;
}


/*--------------
     Content
---------------*/

/* block with headers */
.ui.block > .header {
  font-size: 1.33em;
  font-weight: bold;
}

/* block with paragraphs */
.ui.block > p {
  margin: 5px 0px;
}
.ui.block > p:first-child {
  margin: 0px;
}

/* block with child list */
.ui.block ul.list {
  list-style-position: inside;
  margin: 0px 0px 0px;
  padding: 0px;
}
.ui.block ul.list li {
  position: relative;
  list-style-type: none;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
.ui.block ul.list li:before {
  position: absolute;
  content: '\2022';
  top: -0.05em;
  left: -10px;

  height: 100%;
  vertical-align: baseline;

  color: rgba(0, 0, 0, 0.3);
}
.ui.block ul.list li:first-child {
  margin-top: 0px;
}

/*--------------
     Colors
---------------*/

.ui.blue.block,
.ui.info.block {
  border-color: #75C9E9;
  background-color: #E9F9FF;
  color: #1D6582;
}

/* Success Text Block */
.ui.green.block,
.ui.success.block,
.ui.positive.block {
  background-color: #EEFFE9;
  color: #119000;
  border-color: #2FCB05;
}

/* Warning Text Block */
.ui.yellow.block,
.ui.warning.header,
.ui.warning.block {
  background-color: #F6F3D5;
  border-color: #CBB105;
  color: #AF9801;
}
/* Error Text Block */
.ui.red.block,
.ui.error.block,
.ui.negative.block {
  background-color: #F1D7D7;

  color: #AD0000;
  border-color: #B06C6C;
}

/*--------------
     States
---------------*/

.ui.block.show,
.ui.header.show {
  display: block;
}
.ui.block.hide,
.ui.header.hide {
  display: none;
}
