/*******************************
        Highlighted Colors
*******************************/

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  background-color: #F1C1C2;
  color: #222222;
}
h1::selection,
h2::selection,
h3::selection {
  background-color: #F1C1C2;
  color: #222222;
}
.ui *::-moz-selection {
  background-color: #CCE2FF;
}
.ui *::selection {
  background-color: #CCE2FF;
}

/*******************************
             Global
*******************************/

html,
body {
  font-size: 14px;
}

body#example {
  background: #F9F9F9;
  margin: 0px;
  padding: 0px;
  color: #555555;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}
body > .content  {
  background: #FCFCFC url(../images/bg.jpg) repeat;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre {
  background-color: #FFFFFF;
  text-align: left;
}

p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}
/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}


ul.list {
  list-style-type: disc;
}
ul.list li {
  list-style-position: outside;
}


/* text and headers */
h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*rtl:ignore*/
pre.console {
  background-color: transparent;
  line-height: 1.6;
  font-family:  'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  height: 300px;
  overflow: auto;
  direction:ltr;
}
code {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 0.2em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  display: inline-block;
  font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
  font-size: 14px;
  margin: 0;
  padding: 0.1em 0.4em;
  vertical-align: baseline;
}
.ui.message code {
  background-color: rgba(255, 255, 255, 0.6);
}

pre code {
  border: none;
  padding: 0px;
}
table pre,
table code {
  margin: 0px !important;
  padding: 0px;
  background-color: transparent;
}
p {
  margin: 1em 0em;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}
/* links */
code a,
a code,
a {
  color: #009FDA;
  text-decoration: none;
}
code a:hover,
a:hover code,
a:hover {
  color: #00BAFF;
}

/*--------------
     Sidebar
---------------*/

#example #menu > :last-child {
  padding-bottom: 2em;
}
#example #menu .logo.image {
  width: 35px;
  margin-right: 1em;
}
#example #menu .item {
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#example #menu .item .circular.label {
  position: absolute;
  top: 0.75rem;
  right: 1em;
  opacity: 0.2;
  transition: background 0.3s ease;
}
#example #menu .item.active > .circular.label,
#example #menu .item:hover > .circular.label {
  opacity: 0.8;
}

#example #menu .inverted.header {
  font-size: 1em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.5em;
}
#example #menu a.inverted.header.active,
#example #menu a.inverted.header:hover {
  color: rgba(255, 255, 255, 1);
}
#example #menu .hide.item {
  display: none;
}
#example #menu .menu .active.item {
  color: #6DFFFF !important;
}


/* segment headers */
#example .header.segment,
#example > .content > .page > .segment,
#example > .header.segment {
  position: relative;
  z-index: 2;
  margin: 0em;
  min-height: 180px;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#example .header.segment h1 {
  margin-bottom: 0em;
}
#example .tab.header.segment {
  padding-bottom: 0em;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
}
#example .tab.header.segment .vertical.menu {
  display: none;
  margin: 2rem 0em 1rem;
}
#example .tab.header.segment .tabular.menu {
  clear: both;
  margin: 2rem 0px 0em;
  border-bottom: none;
}
#example .tab.header.segment .tabular.menu .active.item {
  background-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

#example.legacy .main.menu,
#example.legacy .launch.button {
  left: auto !important;
}
#example.scale.down.pushed .header.segment {
  padding-top: 30px;
}

#example.divider .ui.grid {
  position: relative;
}


#example .download.menu {
  margin-top: 0em;
  margin-bottom: 3rem;
}

#example .main.menu {
  top: 0px;
  left: -1px;
  width: calc(100% + 1px);
}
#example .main.menu iframe {
  margin: 0px 0px 0px 0px;
}
/* lists */
#example .features {
  list-style-position: inside;
  margin: 10px 0px 0px;
  padding: 0px;
}
#example .features li {
  list-style-type: disc;
  margin: 0px 0px 10px;
  font-weight: bold;
}

/*--------------
  Advertisement
---------------*/

#example .advertisement {
  float: right;
  margin-left: 2em;
}
#example .index.advertisement {
  display: block;
  position: absolute;
}
#example .advertisement {
  float: none;
  display: table-cell;
  vertical-align: top;
  padding-left: 2em;
}
#example #carbonads-container {
  float: right;
}
#example .advertisement .carbonad {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#example .advertisement .carbonad-text {
  height: auto;
  font-size: 12px;
  line-height: 1.3;
}
#example .carbonad-tag {
  text-align: left;
}
#example .inverted.advertisement .carbonad {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  overflow: hidden;
  height: auto;
  padding: 6px 0px 13px;
}
#example .inverted.advertisement .carbonad-text {
  color: rgba(255, 255, 255, 0.6);
}
#example .inverted.advertisement .carbonad-tag {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}
#example .inverted.advertisement .carbonad-tag a {
  color: rgba(255, 255, 255, 0.8);
}
#example .inverted.advertisement .carbonad-tag a:hover {
  color: #FFFFFF;
}


#example .main.container a.anchor {
  height: 1px;
  position: absolute;
  right: 100%;
  top: -2.5em;
  width: 1px;
}


/*--------------
  Fixed Columns
---------------*/

#example .fixed.column {
  position: absolute;
  right: 2em;
  top: 0px;
  width: 300px;
}

#example .tab.header.segment .fixed .tabular.menu {
  position: fixed;
  top: 50px;
}
#example .fixed .launch {
  display: none;
}
#example .fixed.column .sticky {
  padding-top: 4em;
}


/*--------------
    Masthead
---------------*/

body#example {
  background: #2C2C2C url(../images/icons.png) !important;
}
body#example.pushed,
body#example.hide {
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-animation-name: masthead;
  -moz-animation-name: masthead;
  -o-animation-name: masthead;
  animation-name: masthead;

  -webkit-animation-duration: 30s;
  -moz-animation-duration: 30s;
  -ms-animation-duration: 30s;
  -o-animation-duration: 30s;
  animation-duration: 30s;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#example .masthead .grid {
  position: relative;
  z-index: 2;
}
#example .masthead .column {
  display: table;
}
#example .introduction {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
#example .introduction .theme.buttons {
  margin: -0.1em 0em 0em 0.5em;
  vertical-align: middle;
}
/*--------------
     Footer
---------------*/

#example .footer.link.list {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}


/*--------------
  Transparent
---------------*/

.ui.transparent.menu {
  opacity: 0.95;
}

#example.pushable.left.overlay .fixed.launch.button {
  transform: translate3d(0, 0, 0);
}
#example.pushable.overlay.left.pushed .fixed.launch.button {
  transform: translate3d(260px, 0, 0);
}
#example .fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;

  width: 55px;
  height: auto;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}

#example .fixed.launch.button .text {
  position: absolute;
  top: 15px;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
#example .fixed.launch.button:hover {
  width: 130px;
}
#example .fixed.launch.button:hover .text {
  opacity: 1;
}


#example .shortcuts {
  float: right;
  clear: both;
}
#example .launch.button .icon {
  margin-left: 0px;
}



/*----------------
   Overview Mode
-----------------*/

#example .right.floated.overview.button {
  margin-bottom: 0.5em;
}

#example.overview h2.ui.header {
  margin-bottom: 0.5em;
}
#example.overview .example {
  display: table-row;
  min-height: 0px !important;
  overflow: hidden;
}
#example.overview .example .ui.header,
#example.overview .example p {
  display: table-cell;
  font-size: 1em;
  min-width: 170px;
  font-weight: bold;
  padding: 0.5em 0em;
}
#example.overview .example p {
  font-size: 1rem;
  font-weight: normal;
  padding: 0em 0em 0em 0.5em;
  width: auto;
  line-height: 1.4;
}

/*----------------
      Footer
-----------------*/

#example .page > .footer {
  padding: 5em 0em 6em;
}

/*----------------
  Settings Table
-----------------*/

#example .settings.table {
  margin-bottom: 20px;
}
#example .settings.table td:first-child {
  font-weight: bold;
}
#example .settings.table td:nth-child(2n) {
  width: 100px;
}


#example .segment pre {
  margin: 0em;
  padding: 0em;
}
#example .segment pre .code {
  margin: 0em;
  padding: 0em;
  max-height: 610px;
  font-family:  'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#example table .instructive.segment {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  padding: 0em;
}

#example .ui.label + .instructive.segment {
  margin-top: 0em;
}
#example .instructive.segment:after {
  display: none;
}
#example .instructive.segment em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}
#example .instructive.segment .title + em {
  float: right;
}
#example .label + div.code {
  margin-top: 1.5em;
}



/*----------------
    Examples
-----------------*/

#example .example {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 3em 0em 0em;
  padding: 3em 0em 0em;
  -webkit-tap-highlight-color: transparent;
}
#example .example:last-child {
  margin-bottom: 5em;
}

/* Header */
#example .example > h4:first-child {
  margin: -0.2em 0em 0em;
}

/* Wireframe Image */
#example .example .wireframe.image {
  opacity: 0.5;
}
#example .example .wireframe.image {
  margin: 1rem 0em;
}
#example .example .wireframe.image:first-child {
  margin-top: 0em;
}
#example .example .wireframe.image:last-child {
  margin-bottom: 0em;
}

/* Description */
#example .example .anchor + p {
  margin: 0.25em 0px 1.5em;
  color: rgba(0, 0, 0, 0.6);
}
#example .no.example .anchor + p {
  margin: 0em 0px 1em;
}
#example .example > p {
  color: rgba(0, 0, 0, 0.8);
}

/* Message */
#example .example .anchor + p + .ignored.message,
#example .example .anchor + p + .ignored.message + .ignored.message {
  margin: -0.5em 0em 2em;
}


/* Another */
#example .another.example {
  margin-top: 0em;
  border-top: none;
}

/* Spaced */
#example .spaced.example .buttons,
#example .spaced.example .button {
  margin-bottom: 0.75em;
}
#example .spaced.example .buttons .button {
  margin-bottom: 0em;
}
#example .example .toggle.button {
  min-width: 200px;
}


#example .intro .example > h4 {
  font-size: 1.2em;
}
#example .intro .example > h4 ~ p,
#example .intro .example > h4 ~ .ignored {
  margin: 1em 0em !important;
  font-size: 14px;
}

#example .intro .example p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

#example .existing.segment:after,
#example .instructive.segment:after {
  display: none;
}

/*----------------
  Example Types
-----------------*/

/* No Example */
#example .no.example i.code {
  display: none;
}

/* Requires Clear */
#example .clearing.example {
  overflow: hidden;
  clear: both;
  padding: 1px;
}
#example .main.container:after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
#example .example-group {
  position: relative;
}
#example .main.container .examples > h2,
#example .main.container > h2,
#example .main.container > .tab > h2{
  position: relative;
  margin: 5rem 0rem 3rem;
}
#example .main.container .examples > h2:first-child,
#example .main.container > h2:first-child,
#example .main.container > .tab > h2:first-child{
  margin-top: 0em;
}
#example .main.container .examples > h2 + p,
#example .main.container > h2 + p,
#example .main.container > .tab > h2 + p {
  margin: -2.5rem 0 2em;
}

/* After Section Header */
#example .example:first-child,
#example h2 + .example,
#example h3 + .example,
#example h4 + .example {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}
#example .another.example i.code,
#example .example:first-child i.code,
#example h2 + .example i.code,
#example h3 + .example i.code,
#example h4 + .example i.code {
  top: 1em;
}

/* Spaced */
#example .spaced.example .buttons,
#example .spaced.example .button {
  margin-bottom: 0.75em;
}
#example .spaced.example .buttons .button {
  margin-bottom: 0em;
}
#example .example .toggle.button {
  min-width: 200px;
}

/* Code Language */
#example .example .language.label {
  margin: 1em 0em 0.75em;
}


/*--------------
   Code Button
---------------*/

#example .example i.code {
  cursor: pointer;
  position: absolute;

  top: 1rem;
  right: 0px;
  margin: 0;
  opacity: 0.1;

  font-size: 18px;
  color: #555555;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

#example .example i.code:before {
  font-family: 'Docs';
  content: "\f05f";
}
#example .example:hover i.code {
  opacity: 0.7;
}
#example .example:hover i.code:hover {
  opacity: 1;
}
#example .example .grid i.code {
  right: 25%;
}

#example .pointing.label + .existing.segment {
  margin-top: 0em;
}

#example .existing.code {
  display: none;
}
#example .another.example .annotation {
  margin: 2em 0em 0em;
}


#example .transition.example .ui.button {
  margin-bottom: 0.5em;
}


/* Fixes for UI */
#example .segment > .dimmer {
  z-index: 800;
}
#example .code .active.ui.modal {
  display: none !important;
}
#example .example .circular.segment {
  width: 175px;
  height: 175px;
}

/*******************************
           UI Pages
*******************************/

/*--------------
      Grid
---------------*/

#example .highlighted.example .grid {
  position: relative;
}
#example .highlighted.example .grid:before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #F0F0F0;
  content: '';
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  box-shadow: 0px 0px 0px 1px #DDDDDD inset;
}
/* Consecutive */
#example .highlighted.example > .grid + .grid {
  margin-top: 1rem;
}

#example .highlighted.example .grid .grid:before {
  background-color: #E0E0E0;
}
#example .highlighted.example .row {
  position: relative;
}

#example .highlighted.example .grid > .column {
  position: relative;
  z-index: 11;
}
#example .highlighted.example .grid .column:not(.row):not(.grid):after {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #DDDDDD inset;
  content: "";
  display: block;
  min-height: 50px;
}
#example .highlighted.example .grid .column:not(.grid):first-child,
#example .ui.type.cards .image .grid .column:not(.grid):first-child {
  box-shadow: none;
}
#example .highlighted.example .grid .column:not(.grid),
#example .ui.type.cards .image .grid .column:not(.grid) {
  min-height: 50px;
}
#example .highlighted.example .grid .segment,
#example .ui.type.cards .image .grid .segment {
  border-radius: 0px;
  box-shadow: 0 0 0 1px #D4D4D4;
}
#example .negative.example > .button {
  position: relative;
  z-index: 10;
}
#example .highlighted.special.example .page.grid > .column:first-child:after,
#example .highlighted.special.example .page.grid > .column:last-child:after {
  display: none;
}
#example.animated .negative.example > .grid {
  margin: -1rem !important;
  background-color: #FFEEEE;
}

/* Animation */
#example.animated .highlighted.example > .grid,
#example.animated .animated.example > .grid {
  margin: -1rem auto;
  -webkit-animation: grid 7s ease infinite;
  -moz-animation: grid 7s ease infinite;
  animation: grid 7s ease infinite;
}
#example.animated .negative.example > .grid {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
/* Grid Inside Grid */
#example.animated .highlighted.example .grid .grid,
#example.animated .animated.example .grid .grid {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}


/*--------------
      Demo
---------------*/


#example .demo.row {
  margin: 0 auto !important;
  max-width: 1140px;
}
#example .demo.row .ui.menu,
#example .demo.row .ui.card {
  width: 100%;
}
#example .demo.row h4 {
  font-weight: bold !important;
  margin: 0em 0em 1em !important;
}
#example .demo.row .example {
  clear: both;
  padding-top: 3em;
  margin-top: 3em;
}
#example .demo.row .example:first-child {
  margin-top: 0;
  padding-top: 0;
}
#example .demo.row .segment.example {
  z-index: 1;
}
#example .demo.row .ui.label:not(.empty) {
  margin-bottom: 1em;
}
#example .demo.row .segment .ui.label {
  margin-bottom: 0em;
}

/*--------------
      Card
---------------*/

body.card .even.example .card .description {
  height: 55px;
}

/*--------------
      Progress
---------------*/


body.progress.animated .ui.progress .bar {
  -webkit-animation: finish 10s ease-in-out infinite;
  -moz-animation: finish 10s ease-in-out infinite;
  -ms-animation: finish 10s ease-in-out infinite;
  animation: finish 10s ease-in-out infinite;
}

/*--------------
      Popup
---------------*/

#example.popup .inline.example .popup {
  color: #FF0000;
}
#example .position.example .icon {
  position: absolute;
  margin: 0em;
  width: auto;
  font-size: 1.5em;
  height: auto;
  padding: 0.5em !important;
}
#example .position.example .segment {
  width: 250px;
  height: 250px;
}
#example .position.example .segment .icon:nth-of-type(1) {
  top: 3em;
  left: 3em;
}
#example .position.example .segment .icon:nth-of-type(2) {
  top: 3em;
  left: 50%;
  margin-left: -1em;
}
#example .position.example .segment .icon:nth-of-type(3) {
  top: 3em;
  right: 3em;
}
#example .position.example .segment .icon:nth-of-type(4) {
  top: 50%;
  margin-top: -1em;
  right: 3em;
}
#example .position.example .segment .icon:nth-of-type(5) {
  bottom: 3em;
  right: 3em;
}
#example .position.example .segment .icon:nth-of-type(6) {
  bottom: 3em;
  left: 50%;
  margin-left: -1em;
}
#example .position.example .segment .icon:nth-of-type(7) {
  bottom: 3em;
  left: 3em;
}
#example .position.example .segment .icon:nth-of-type(8) {
  top: 50%;
  margin-top: -1em;
  left: 3em;
}

#example .main.ui.grid {
  position: relative;
}

/*--------------
      Icon
---------------*/

#example .icon.example .grid {
  text-align: left;
}
#example .icon.example .grid .code {
  position: static;
}
#example .icon.example .grid > .row > .column {
  height: 6em;
  opacity: 0.8;
  text-align: center;
  color: #888888;

  -webkit-transition:
    color 0.3s ease,
    opacity 0.3s ease
  ;
  -moz-transition:
    color 0.3s ease,
    opacity 0.3s ease
  ;
  -o-transition:
    color 0.3s ease,
    opacity 0.3s ease
  ;
  -ms-transition:
    color 0.3s ease,
    opacity 0.3s ease
  ;
  transition:
    color 0.3s ease,
    opacity 0.3s ease
  ;
}
#example .icon.example .column .icon {
  opacity: 1;
  height: 1em;
  color: #333333;
  display: block;
  margin: 0em auto 0.25em;
  font-size: 2em;

  -webkit-transition:
    color 0.6s ease,
    transform 0.2s ease
  ;
  -moz-transition:
    color 0.6s ease,
    transform 0.2s ease
  ;
  -o-transition:
    color 0.6s ease,
    transform 0.2s ease
  ;
  -ms-transition:
    color 0.6s ease,
    transform 0.2s ease
  ;
  transition:
    color 0.6s ease,
    transform 0.2s ease
  ;
}
#example .icon.example .grid:hover > .row > .column {
  color: #CCCCCC;
}
#example .icon.example .grid:hover > .row > .column .icon {
  color: #888888;
}

#example .icon.example .grid > .row > .column:hover .icon {
  color: #000000;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
#example .icon.example .grid > .row > .column:hover {
  opacity: 1;
  color: #444444;
}
#example .another.icon.example {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#example .another.example i.code ~ .ignored.message {
  margin-top: 0em;
}

/*--------------
    List Page
---------------*/

#example .element.cards .image {
  overflow: hidden;
  min-height: 100px;
}
#example .collection.cards {
  min-height: 350px;
}
#example .ui.type.cards > .item {
  min-height: 255px;
}

#example .ui.type.cards > .item > .image {
  padding: 1em;
  height: 165px;
  vertical-align: middle;
}
/*--------------
      Header
---------------*/

#example.header .sizer {
  padding: 1rem 0em;
}

/*--------------
      Flag
---------------*/

#example.flag .basic.table tbody td:first-child {
  width: 20px;
}

/*--------------
      Feed
---------------*/

#example.feed .example .segment {
  max-width: 800px;
}


/*******************************
         Code Samples
*******************************/


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0em;
  color: #666;
  background-color: transparent;
  -webkit-text-size-adjust: none;
}

/*--------------
    Hover Only
---------------*/

.hljs,
.hljs span {
  -moz-transition: 0.5s color ease;
  -webkit-transition: 0.5s color ease;
  -ms-transition: 0.5s color ease;
  transition: 0.5s color ease;
}
.hljs {
  color: #333333;
}

.hljs.xml {
  color: #555555;
}
.hljs.xml:hover {
  color: #333333;
}

/* Class Name */
.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #009991;
}
.code:hover .hljs-string,
.code:hover .hljs-tag .hljs-value,
.code:hover .hljs-phpdoc,
.code:hover .hljs-dartdoc,
.code:hover .tex .hljs-formula {
  color: #009991;
}

/* Comment */
.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #AAAAAA;
  font-style: italic;
}


/* Properties */
.hljs-tag,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #999999;
  font-weight: normal;
}

.code:hover .hljs-tag,
.code:hover .hljs-rules .hljs-property,
.code:hover .django .hljs-tag .hljs-keyword {
  color: #892A6F;
  font-weight: normal;
}

/* HTML Tag */
.hljs-tag .hljs-title {
  color: #7E7079;
  font-weight: normal;
}
.code:hover .hljs-tag .hljs-title {
  color: #892A6F;
}

/* Attribute */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #8E6E6E;
  transition: color 0.3s;
}
.code:hover .hljs-attribute,
.code:hover .hljs-variable,
.code:hover .lisp .hljs-body {
  color: #934E4E;
}

/* CSS ID */
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #009FDA;
  font-weight: bold;
}

/* CSS Attribute */
.hljs-rule .hljs-attribute {
  color: #892A6F;
}
.code:hover .hljs-rule .hljs-attribute {
  color: #892A6F;
}

/* CSS Value */
.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #666666;
}

.code:hover .hljs-number,
.code:hover .hljs-hexcolor,
.code:hover .ruby .hljs-constant {
  color: #333333;
}



/*--------------
      Normal
---------------*/

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.javascript .hljs-title,
.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}


.hljs-regexp {
  color: #009926;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}


/*******************************
      Definition Container
*******************************/

#example .pusher > .page {
  display: table;
  width: 100%;
  height: 100%;
}
#example .pusher > .page > .full.height {
  display: table-row;
  height: 100%;
}
#example .pusher > .page > .footer {
  clear: both;
}

#example .main.container {
  background-color: #FFFFFF;
  margin: 0em auto;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 2em 2em;
  z-index: 1;
}
#example .wide.main.container {
  width: 80%;
  margin: 0 auto;
  right: 0;
  max-width: 1140px;
}

#example .main.container .right.rail .sticky {
  padding: 2em 0em;
}
#example .container {
  position: relative;
  width: 915px;
  margin: 0px auto;
}

#example .following.menu .menu .active.item {
  font-weight: bold;
}
#example .following.menu .menu .item {
  padding: 0.5rem 0.25rem;
}

@media only screen and (max-width : 400px) {
  #example .advertisement {
    max-width: 260px;
  }
}
@media only screen and (max-width : 400px) {
  #example .example {
    max-width: 290px;
  }
}

@media only screen and (max-width : 600px) {
  #example .solid, #example .stripe {
    padding: 4em 0em;
  }
  #example .page > .footer {
    padding: 2em 0em;
  }
  #example .container {
    width: auto;
    margin: 0em 1rem;
  }
  #example .main.container {
    padding: 1em;
    box-shadow: none;
  }
  #example .header.segment {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  #example .example i.code {
    opacity: 0.3;
  }
  #example .example i.code:hover {
    opacity: 1;
  }
}

@media only screen and (min-width : 600px) and (max-width : 998px) {
  #example .container {
    width: auto;
    margin: 0em 2rem;
  }
  #example .header .button {
    margin-bottom: 0.5em;
  }
  #example .main.container {
    padding: 1em 2em;
  }
}

@media only screen and (max-width : 998px) {

  #example .pusher > .page {
    display: block;
    width: 100%;
    height: auto;
  }
  #example .pusher > .page > .full.height {
    display: block;
    height: auto;
  }
  #example .following.menu {
    display: none;
  }
}

@media only screen and (min-width : 998px) {
  #example .following.menu {
    display: block;
  }
  #example .introduction {
    display: block;
  }
  #example .advertisement {
    left: 100%;
    padding-left: 0em;
    position: absolute;
    top: 0em;
    vertical-align: top;
  }
  #example .container {
    right: 110px;
  }
}
@media only screen and (min-width : 998px) and (max-width: 1200px) {
  #example .container {
    width: 680px;
    right: 75px;
    margin: 0em auto;
  }
  #example .container .right.rail {
    width: 200px;
    padding-left: 0em;
  }
}
@media only screen and (min-width : 1200px) and (max-width: 1355px) {
  #example .container {
    width: 765px;
    right: 128px;
    margin: 0em auto;
  }
}
@media only screen and (min-width : 1355px) {
  #example .container {
    width: 850px;
  }
  #example.item .container,
  #example.card .container {
    width: 955px;
  }
}



/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 998px) {
  #example .fixed .section,
  #example .fixed .title b {
    display: none;
  }
  #example .fixed .container {
    width: auto;
    margin: 0px auto;
    max-width: 9999px;
  }
  #example .fixed.launch.button {
    display: none;
  }
  #example .fixed .launch {
    cursor: pointer;
    display: inline-block;
  }
}


@media only screen and (max-width : 780px) {
  pre.console {
    height: 150px;
  }
  #example .introduction {
    display: block;
  }
  #example .advertisement {
    display: block;
    margin: 1em auto;
    padding: 0em;
  }
  #example #menu .hide.item {
    display: block;
  }
  #example #menu .item > .icon {
    font-size: 1em !important;
  }
  #example .inverted.advertisement .carbonad-img {
    margin-top: 0px;
  }
  #example #carbonads-container {
    float: none;
  }
  #example .carbonad {
    width: auto;
  }
  #example .carbonad-text,
  #example .carbonad-tag {
    float: none;
    display: block;
    text-align: left;
    margin-left: 160px;
    width: 170px;
  }
  #example:not(.index) .introduction .button {
    float: none;
    margin: 0 0.5em 0.5em 0;
  }
}

@media only screen and (max-width : 600px) {
  #example .main.menu .borderless.item {
    display: none;
  }
  #example .fixed .developer,
  #example .fixed .designer,
  #example .fixed .previous,
  #example .fixed .next {
    display: none;
  }
  #example .tab.header.segment .tabular.menu {
    display: none;
  }

  #example .tab.header.segment .vertical.menu {
    display: block;
  }
}
@media only screen and (max-width : 450px) {
  #example .main.menu .icon.item {
    display: none;
  }
  #example .main.menu .github.item {
    display: inline-block;
  }
  #example .main.menu .github.item:before {
    display: none;
  }
  #example .carbonad {
    height: 135px;
  }
  #example .carbonad .carbonad-text {
    width: 90px;
  }
}

#example .masthead .mobile.buttons {
  display: none;
}
@media only screen and (max-width : 470px) {
  #example .masthead .tag.label {
    display: none;
  }
  #example .masthead .inverted.buttons {
    display: none;
  }
  #example .masthead .mobile.buttons {
    display: block;
  }
  #example.button-page .ui.buttons,
  #example.button-page :not(.buttons) .ui.button {
    margin-bottom: 0.5em;
  }
  #example .masthead:before {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
  }
}

@media only screen and (max-width : 640px) {
  #example .language.dropdown .menu {
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 316px;
  }
  #example.transition .fixed.column {
    display: none;
  }
  #example.transition .examples {
    width: 100%;
  }
  #example.transition .examples .pointing.below.label {
    display: none;
  }
}
@media only screen and (max-width : 998px) {
  #example .examples {
    margin-right: 230px;
    padding: 1px;
  }
  #example .fixed.column,
  #example .fixed.column .fixed {
    width: 200px;
  }
}
@media only screen and (min-width : 998px) {
  #example .examples {
    margin-right: 280px;
    padding: 1px;
  }
  #example .fixed.column,
  #example .fixed.column .fixed {
    width: 250px;
  }
}