
/*******************************
        Shapes Example
*******************************/


#example.shape .ui.header {
  clear: both;
  margin-top: 1rem;
}

#example .dog.shape {
  float: left;
  margin: 0 1em 3em 0;
}

#example .dog.shape .side .item {
  margin: 0em;
  min-height: 400px;
}
#example .dog.two.shape .side {
  width: 315px;
}
#example .dog.two.shape .side:nth-child(n+1),
#example .dog.two.shape .side:nth-child(n+1) .item {
  width: 315px;
}
#example .dog.two.shape .side:nth-child(n+2),
#example .dog.two.shape .side:nth-child(n+2) .item {
  width: 150px;
}
#example .dog.two.shape .side:nth-child(n+3),
#example .dog.two.shape .side:nth-child(n+3) .item {
  width: 200px;
}

#example .dog.three.shape .side:nth-child(n+1),
#example .dog.three.shape .side:nth-child(n+1) .item {
  width: 215px;
}
#example .dog.three.shape .side:nth-child(n+2),
#example .dog.three.shape .side:nth-child(n+2) .item {
  width: 350px;
}
#example .dog.three.shape .side:nth-child(n+3),
#example .dog.three.shape .side:nth-child(n+3) .item {
  width: 140px;
}


#example .demo.shape {

}

#example .demo.shape .side {
  
  width: 250px;
  height: 250px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #E6E6E6;

  color: #FFFFFF;

  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#example .demo.shape .side img {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  max-height: 100%;
}

#example .demo.shape .heroku.side {
  background-color: #695EE7;
}
#example .demo.shape .jira.side {
  background-color: #98B5E9;
}
#example .demo.shape .quirky.side {
  background-color: #67336F;
}

#example .demo.shape .side b {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 80px;
  margin-top: -48px;
  text-align: center;
}

#example .demo.rectangle.shape .side {
  width: 450px;
  height: 150px;
}
#example .irregular.shape .heroku.side {
  background-color: #695EE7;
  width: 100px;
  height: 300px;
}
#example .irregular.shape .jira.side {
  background-color: #98B5E9;
  width: 100px;
  height: 100px;
}
#example .irregular.shape .quirky.side {
  background-color: #67336F;
  width: 500px;
  height: 100px;
}