/*-------------------
       Theme
--------------------*/

@theme       : 'semantic';

.importVariables(element) {
  // check if child theme exists
  @import "theme/semantic/@{element}.variables";
}
.importOverrides(element) {
  // check if child theme exists
  @import "theme/semantic/@{element}.overrides";
}

@import "theme/semantic/global.variables";

