@import "themes/default/global.variables";
@import "reset.less";

/*******************************
             Page
*******************************/

html,
body {
  font-size: @fontSize;
}

body {
  background: @bodyBackground;
  font-family: @fontFamily;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

/*******************************
             Text
*******************************/

h1,
h2,
h3,
h4,
h5 {
  margin: 1em 0em 1rem;
  padding: 0em;
}

p {
  margin: @paragraphMargin;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}

/*-------------------
        Links
--------------------*/

a {
  color: @linkColor;
  text-decoration: @linkUnderline;
}
a:hover {
  color: @linkHoverColor;
}


/*******************************
          Highlighting
*******************************/

::-webkit-selection {
  background-color: @highlightBackground;
  color: @highlightColor;
}
::-moz-selection {
  background-color: @highlightBackground;
  color: @highlightColor;
}
::selection {
  background-color: @highlightBackground;
  color: @highlightColor;
}

