.ui.steps {
  display: inline-block;
  font-size: 0em;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
.ui.steps .step {
  display: inline-block;
  position: relative;
  padding: 0.82em 1.5em 0.82em 2.5em;
  background-color: #FFFFFF;
  color: #888888;
}
.ui.steps .step:after {
  position: absolute;
  content: '';
  z-index: 2;
  top: 0.45em;
  right: -1em;
  width: 2em;
  height: 2em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ui.steps .step:first-child {
  padding-left: 20.3125em;
  -webkit-border-radius: 0.3125em 0em 0em 0.3125em;
  -moz-border-radius: 0.3125em 0em 0em 0.3125em;
  border-radius: 0.3125em 0em 0em 0.3125em;
}
.ui.steps .step:last-child {
  -webkit-border-radius: 0em 0.3125em 0.3125em 0em;
  -moz-border-radius: 0em 0.3125em 0.3125em 0em;
  border-radius: 0em 0.3125em 0.3125em 0em;
}
.ui.steps .step:last-child {
  margin-right: 0em;
}
.ui.steps .step:last-child:after {
  width: 0em !important;
  height: 0em !important;
}
/*******************************
           Variations
*******************************/
/* Attached */
.attached.ui.steps {
  margin: 0em;
  -webkit-border-radius: 0.3125em 0.3125em 0em 0em;
  -moz-border-radius: 0.3125em 0.3125em 0em 0em;
  border-radius: 0.3125em 0.3125em 0em 0em;
}
.attached.ui.steps .step:first-child {
  -webkit-border-radius: 0.3125em 0em 0em 0em;
  -moz-border-radius: 0.3125em 0em 0em 0em;
  border-radius: 0.3125em 0em 0em 0em;
}
.attached.ui.steps .step:last-child {
  -webkit-border-radius: 0em 0.3125em 0em 0em;
  -moz-border-radius: 0em 0.3125em 0em 0em;
  border-radius: 0em 0.3125em 0em 0em;
}
/* Bottom Side */
.bottom.attached.ui.steps {
  margin-top: -1px;
  -webkit-border-radius: 0em 0em 0.3125em 0.3125em;
  -moz-border-radius: 0em 0em 0.3125em 0.3125em;
  border-radius: 0em 0em 0.3125em 0.3125em;
}
.bottom.attached.ui.steps .step:first-child {
  -webkit-border-radius: 0em 0em 0em 0.3125em;
  -moz-border-radius: 0em 0em 0em 0.3125em;
  border-radius: 0em 0em 0em 0.3125em;
}
.bottom.attached.ui.steps .step:last-child {
  -webkit-border-radius: 0em 0em 0.3125em 0em;
  -moz-border-radius: 0em 0em 0.3125em 0em;
  border-radius: 0em 0em 0.3125em 0em;
}
/* Fluid  */
.ui.steps.fluid,
.ui.steps.fluid > .step {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.ui.steps.two.fluid > .step {
  width: 50%;
}
.ui.steps.three.fluid > .step {
  width: 33.333%;
}
.ui.steps.four.fluid > .step {
  width: 25%;
}
.ui.steps.five.fluid > .step {
  width: 20%;
}
.ui.steps.six.fluid > .step {
  width: 16.666%;
}
.ui.steps.seven.fluid > .step {
  width: 14.285%;
}
.ui.steps.eight.fluid > .step {
  width: 12.500%;
}
/*******************************
             Sizes
*******************************/
.ui.steps .step {
  font-size: 1rem;
}
/*******************************
             States
*******************************/
/* Hover */
.ui.steps .hover.step {
  cursor: pointer;
  background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background: linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  -moz-box-shadow: 0em 0em 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0em 0em 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0em 0em 2px rgba(0, 0, 0, 0.2);
}
.ui.steps .hover.step:after {
  cursor: pointer;
  background: -webkit-linear-gradient(top left, #ffffff 0%, #f0f0f0 100%);
  background: -moz-linear-gradient(top left, #ffffff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top left, #ffffff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top left, #ffffff 0%, #f0f0f0 100%);
  background: linear-gradient(top left, #ffffff 0%, #f0f0f0 100%);
  -moz-box-shadow: 2px -2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px -2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px -2px 1px rgba(0, 0, 0, 0.2);
}
.ui.steps .hover.step:before {
  position: absolute;
  top: 7px;
  left: -10.3125em;
  width: 32px;
  height: 31px;
  content: '';
  background-color: transparent;
  background-image: none;
  -moz-box-shadow: -1px 1px 1px 0em rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: -1px 1px 1px 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: -1px 1px 1px 0em rgba(0, 0, 0, 0.1) inset;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}
.ui.steps .hover:first-child:before {
  width: 0em;
  height: 0em;
}
/* Down */
.ui.steps .down.step {
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #ffffff 100%);
  background: linear-gradient(top, #f0f0f0 0%, #ffffff 100%);
}
.ui.steps .down.step:after {
  background: -webkit-linear-gradient(top left, #f0f0f0 0%, #ffffff 100%);
  background: -moz-linear-gradient(top left, #f0f0f0 0%, #ffffff 100%);
  background: -o-linear-gradient(top left, #f0f0f0 0%, #ffffff 100%);
  background: -ms-linear-gradient(top left, #f0f0f0 0%, #ffffff 100%);
  background: linear-gradient(top left, #f0f0f0 0%, #ffffff 100%);
}
/* Active */
.ui.steps .active.step {
  cursor: auto;
  background-color: #555555;
  color: #FFFFFF;
  font-weight: bold;
}
.ui.steps .active.step:first-child:before {
  width: 0em;
  height: 0em;
}
.ui.steps .active.step:after {
  background-color: #555555;
  border-color: #555555;
  -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15) inset;
}
/* Disabled */
.ui.steps .disabled.step {
  color: #BFBFBF;
}
