/*******************************
           UI Checkbox
*******************************/

/*--------------
    Standard
---------------*/

.ui.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}
.ui.checkbox input {
  visibility: hidden;
}
.ui.checkbox label {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0px;
  border-radius: 4px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  background: #fcfff4;

  background: -webkit-linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
  background: -moz-linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
  background: -o-linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
  background: -ms-linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
  background: linear-gradient(#FFFFFF 0%, #EAEAEA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.ui.checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  background: transparent;
  border: 3px solid #333333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ui.checkbox label:hover {
  background-color: #FAFAFA;
  background: -webkit-linear-gradient(#FFFFFF 0%, #F6F6F6 100%);
  background: -moz-linear-gradient(#FFFFFF 0%, #F6F6F6 100%);
  background: -o-linear-gradient(#FFFFFF 0%, #F6F6F6 100%);
  background: -ms-linear-gradient(#FFFFFF 0%, #F6F6F6 100%);
  background: linear-gradient(#FFFFFF 0%, #F6F6F6 100%);
}

.ui.checkbox input:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* States */
.ui.disabled.checkbox label,
.ui.checkbox input[disabled] + label {
  opacity: 0.4;
}

/* Resizes */
.ui.checkbox,
.ui.checkbox label {
  width: 16px;
  height: 16px;
}
.ui.checkbox label:after {
  width: 7px;
  height: 3px;
  top: 4px;
  left: 3px;  
}

.ui.large.checkbox,
.ui.large.checkbox label {
  width: 20px;
  height: 20px;
}
.ui.large.checkbox label:after {
  width: 9px;
  height: 5px;
  top: 4px;
  left: 4px;
}


/*--------------
     Radio
---------------*/

.ui.radio.checkbox {
  width: 14px;
  height: 16px;
}
.ui.radio.checkbox label {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.ui.radio.checkbox label:after {
  top: 3px;
  left: 3px;
 
  border: none;
  width: 8px;
  height: 8px;
 
  background-color: #555555;
 
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/*--------------
     Rounded
---------------*/

/* Alternate Round Style */
.ui.round.checkbox {
  width: 20px;
  height: 20px;
  margin: 0px auto;
  
  background: #FCFFF4;
  background: -webkit-linear-gradient(top, #FCFFF4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #FCFFF4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #FCFFF4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #FCFFF4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #FCFFF4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFFF4', endColorstr='#b3bead',GradientType=0 );

  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.ui.round.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;

  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  left: 3px;
  top: 3px;

  -webkit-box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.5) inset,
    0px 1px 0px rgba(255,255,255,1)
  ;
  -moz-box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.5) inset,
    0px 1px 0px rgba(255,255,255,1)
  ;
  box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.5) inset,
    0px 1px 0px rgba(255,255,255,1)
  ;

  background: -webkit-linear-gradient(top, #222222 0%, #4D4D4D 100%);
  background: -moz-linear-gradient(top, #222222 0%, #4D4D4D 100%);
  background: -o-linear-gradient(top, #222222 0%, #4D4D4D 100%);
  background: -ms-linear-gradient(top, #222222 0%, #4D4D4D 100%);
  background: linear-gradient(top, #222222 0%, #4D4D4D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#4D4D4D',GradientType=0 );
}

.ui.round.checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #B6B6B6;

  background: -webkit-linear-gradient(top, #B6B6B6 0%, #929292 100%);
  background: -moz-linear-gradient(top, #B6B6B6 0%, #929292 100%);
  background: -o-linear-gradient(top, #B6B6B6 0%, #929292 100%);
  background: -ms-linear-gradient(top, #B6B6B6 0%, #929292 100%);
  background: linear-gradient(top, #B6B6B6 0%, #929292 100%);

  border: none;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  top: 2px;
  left: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
.ui.round.checkbox label:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.ui.round.checkbox input:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* Variations */
.ui.round.blue.checkbox label:after {
  background: -webkit-linear-gradient(top, #016286 0%, #00506E 100%);
  background: -moz-linear-gradient(top, #016286 0%, #00506E 100%);
  background: -o-linear-gradient(top, #016286 0%, #00506E 100%);
  background: -ms-linear-gradient(top, #016286 0%, #00506E 100%);
  background: linear-gradient(top, #016286 0%, #00506E 100%);
}

/* Resizes */
.ui.large.round.checkbox {
  width: 28px;
  height: 28px;
}
.ui.large.round.checkbox label {
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
}
.ui.large.round.checkbox label:after {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
}